.header {
	display: inherit;
}
.float_right {
	float: right;
}
.text_left {
	text-align: left;
}

.hidden {
	display: none;
}

.vl-1 {
	position: absolute;
	left: -15px;
	border-left: 7px solid #bfbfbf;
  	height: 160px;
}

.vl-2 {
	position: absolute;
	left: -15px;
	border-left: 7px solid #656464;
  	height: 160px;
}

html {
	scroll-behavior: smooth;
}

.layout-content-1 {
	padding: 20px 0 100px;
}

.post-comment>.post-comment {
	margin-top: unset;
	padding-bottom: 20px;
}

.first-wrapper {
	padding-bottom: 20px;
}

.second-wrapper {
	padding-bottom: 20px;
}

.bg-main-thread {
	background-color: #f9f9f9;
}

.cstm-bg-transparent {
	padding: 15px;
	background: rgba(0, 0, 0, 0.7);
}

.topic-comment-timestamp {
	font-weight: 700;
}

span {
	font-family: "Exo",sans-serif!important;
	letter-spacing: 0.2px;
}

p {
	font-size: 1.0em;
	padding-top: 8px;
	font-family: "Exo",sans-serif!important;
	letter-spacing: 0.2px;
}

li {
	font-size: 1.0em;
	font-family: "Exo",sans-serif!important;
	padding-left: 10px;
	color: #777;
}

li:first-child {
	font-size: 1.0em;
	font-family: "Roboto",sans-serif;
	padding-left: 10px;
	color: #777;
	padding-top: 10px;
}

/*REACTION ICONS
*/

.banana-icon {
	background-image: url('../img/acaciax/acaciax_banana.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: unset;
}
.banana-icon:hover {
	background-image: url('../img/acaciax/banana_active.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: 40%;
	transition: .4s;
}


.poop-icon {
	background-image: url('../img/acaciax/acaciax_poo.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: unset;
}
.poop-icon:hover {
	background-image: url('../img/acaciax/poo_active.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: 40%;
	transition: .4s;
}

.reply-icon {
	background-image: url('../img/acaciax/acaciax_reply.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: unset;
}
.reply-icon:hover {
	background-image: url('../img/acaciax/reply_active.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: 40%;
	transition: .4s;
}

.share-icon {
	background-image: url('../img/acaciax/acaciax_share.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: unset;
}
.share-icon:hover {
	background-image: url('../img/acaciax/share_active.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: 40%;
	transition: .4s;
}

.report-icon {
	background-image: url('../img/acaciax/acaciax_report.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: unset;
}
.report-icon:hover {
	background-image: url('../img/acaciax/report_active.png');
	background-size: cover;
	width: 32px;
	height: 32px;
	border-radius: 40%;
	transition: .4s;
}



.comment-text-styl {
	color: green;
	text-decoration: underline;
}



.topic-comment-username {
	font-size: 18px;
}

.darkr-bdr-btm {
	border-bottom: 1px solid #464444;
}

.line-separator-cstm {
	margin-top: 3%;
	border: 1px solid #464444;
}

.client-reaction {
	font-size: 14px;
	color: gray;
	font-weight: 600;
}

.bubble-ornament .heart-icon, .bubble-ornament .like-icon, .bubble-ornament .dislike-icon {
	font-size: 20px;
}

.bubble-ornament .reply-icon, .bubble-ornament .share-icon {
	font-size: 20px;
}

.bubble-ornament .report-icon {
	font-size: 20px;
}

.tag-ornament {
	background-color: #ffb400;
}

.faq-item .faq-item-img {
	height: 100%;
	width: 100%;
}

label+select {
	margin-top: 12px;
}

.creator-tag {
	font-size: 10px;
	color: #10caff;
	padding-left: 10px;
}

.activity-item-timestamp {
	font-size: 12px;
}

.widget-options-wrap .current-option-value .widget-option-text {
	line-height: 35px;
}

.slider-item {
	box-shadow: inset 100px -400px 269px -80px rgba(1, 1, 1, 1)!important;
}

.banner-slider .slider-item-wrap {
	width: 60%;
}
.logout-btn {
	border:1px solid #fff;
}
.cstm-btn-ornament {
	background-color: transparent!important;
	border: 1px solid #fff;
	top: 2px!important;
}
.cstm-btn-ornament .arrow-icon {
	top: 6px!important;
	left: 8px!important;
	width: 5px;
	height: 7px;
}

.topics-count {
	font-size: 14px;
	color: gray;
}

.cstm-pd-tp {
	padding-top: 20%;
}

.cstm-pd-tp-2 {
	padding-top: 5%;
}

.forum-posts-count {
	color: gray;
	font-size: 13px;
}

.bubble-ornament {
	background-color: transparent;
}


.forum-latest {
	color: gray;
	font-size: 13px;
}

.button.full {
	font-size: 16px;
	margin-top: 20px;
}

.alert-success {
	background-color: #9cda9c;
	padding: 10px;
	border-radius: 10px;
}

.alert-danger {
	background-color: #ff000040;
	padding: 10px;
	border-radius: 10px;
}
.danger-txt-styl {
	color: black;
	font-weight: 500;
}

.cstm-camel-case {
	text-transform: capitalize;
}

.invalid-feedback {
	font-size: 14px;
	color: red;
	padding-bottom: 10px;
}

.text-muted {
	font-style:	italic;
	color: gray;
}

.is-invalid {
	border: 2px solid red!important;
}

.is-valid {
	border: 2px solid green!important;
}

.mgn-btm-30 {
	margin-bottom: 30px!important;
}

.post-preview-title {
	text-transform: unset!important;
}
.text-left {
	text-align: left!important;
}
.cstm-width-40 {
	width: 40%;
}
.cstm-width-45 {
	width: 45%;
}
.cstm-width-50 {
	width: 50%;
}
.cstm-width-60 {
	width: 60%;
}
.cstm-width-70 {
	width: 70%;
}
.cstm-width-80 {
	width: 80%;
}
.forum-category-wrap {
	padding: 20px 0px!important;
}
.posts_header_text {
	padding: 10px 40px;
	border-left: 8px solid;
	margin: 40px 0px;
}
.cstm-no-grid {
	display: unset;
}
.icon-cstm-width {
	width: 12%;
	padding-right: 20px;
}
.cstm-scroller-pos {
	left: 820px!important;
}
.forum-user-list {
	float: right;
}
.btn-1-cstm {
	padding: 15px 30px;
	background-color: gray;
	border-radius: 30px;
	color: white;
	width: 70%;
}
.cstm_svg_btn-1 {
	fill: #fff;
	right: 0;
}
.fnt-sze-14 {
	font-size: 14px;
}

.section-title-wrap .section-title-separator:before {
	height: 5px;	
}
button.light-gray {
	background-color: #9a9a9a;
}
.cstm_fit_content {
	width: fit-content;
}
.mgn_left-40 {
	margin-left: 30%;
}
label {
	font-size: 15px;
	font-weight: 700;
	padding-top: 25px;
}

.section-title-wrap.light-gray .section-title-separator:before {
	background-color: #9a9a9a;
}
.mgn_top_10pc {
	margin-top: 10%;
}
.mgn_top_15pc {
	margin-top: 15%;
}
.mgn_top_20pc {
	margin-top: 20%;
}
.mgn_top_30pc {
	margin-top: 30%;
}
.cstm-col-1 {
	grid-template-columns: 700px;
}
.forum-category-wrap {
  width: unset;
  padding: 40px 0 40px 100px;
  position: relative;
}

.table-row-item .table-text {
	text-align: unset;
}
.bread-crumb-home {
	color: white;
	font-weight: 800;
}
.bread-crumb-home:hover {
	text-decoration: underline;
	cursor: pointer;
	color: white;
	font-weight: 800;
}

.banner-slider .slider-item-wrap {
	padding: 150px 0 0 50px!important;
}

.sidebar-headers {
	font-size: 16px;
	color: #001446;
	font-weight: 600;
	padding-bottom: 12px;
}

.start-trading-btn {
	padding: 15px 35px;
	border-radius: 30px;
	color: white;
	font-size: 20px;
	font-weight: 800;
	background-color: blueviolet;
}

.start-trading-btn:hover {
	padding: 15px 35px;
	border-radius: 30px;
	color: blueviolet;
	cursor: pointer;
	font-size: 20px;
	font-weight: 800;
	border: 2px solid blueviolet;
	background-color: #fff;
}

.post-preview.landscape.big {
	height: 320px;
}
.promo-banner {
	margin-bottom: 10%;
}
.live-news-widget .live-news-widget-title-wrap {
	left: -15px;
}

.pad-tp_btm_post {
	padding: 30px 0px;
}

.pad-tp_btm {
	padding: 15px 0px;
	font-size: 2.5em!important;
}
.cstm-bg-yellow {
	background-color: orange;
}
.no-border {
	border-bottom: unset!important;
	border:unset;
}
.cstm-width-700 {
	max-width: 700px;
}
.cstm-post-img-width {
	width: 70%!important;
}
.plain-btn-3 {
	margin: 30px 10px;
	padding: 10px 30px;
	border-radius: 40px;
	background-color: white;
	border:1px solid black;
}
.plain-btn-3:hover {
	color: white;
	margin: 30px 10px;
	padding: 10px 30px;
	border-radius: 40px;
	background-color: black;
	border:1px solid black;
	cursor: pointer;
}

.cstm-pd-r-40 {
	padding-right: 60px;
}
.filters-row {
	border-bottom: unset;
}
.dp-option-text {
	font-size: 14px!important;
}

.accounts-or-styl {
	margin-top: 15px;
	color: #fff;
	margin-right: 10px;
	margin-left: 10px;
}

.pd-lft-10 {
	padding-left: 10px;
}

.bder-cstm-clr {
	border: 2px solid cadetblue!important;
	font-size: 16px!important;
}

.table-header-brder-btm {
	border-bottom: 2px solid gray!important;
}

.fnt-14 {
	font-size: 14px!important;
}
.fnt-15 {
	font-size: 15px!important;
}
.fnt-16 {
	font-size: 16px!important;
}
.fnt-18 {
	font-size: 18px!important;
}
.table-row-header-title {
	font-size: 18px!important;
}

.table.forum-topics .table-row-item .forum-post-link {
	width: fit-content;
}

.capitalize {
	text-transform: uppercase;
}

.text-center {
	text-align: center!important;
}

.no-brdr-space {
	border-spacing: 0px!important;
}
.cstm-width-a {
	max-width: 350px; 
	word-wrap: break-word;
}
.pd-btm-12 {
	padding-bottom: 12px;
}
.fnt-w8-400 {
	font-weight: 400;
}
.fnt-w8-600 {
	font-weight: 600;
}
.fnt-w8-700 {
	font-weight: 700;
}
.fnt-w8-800 {
	font-weight: 800;
}
.clr_black p {
	color: black!important;
}
.forum-latest p span {
	font-weight: 400;
}
.hidden-md {
	display: none;
}

.forum-table-topics > thead > tr > th, .forum-table-topics > tbody > tr > th, .forum-table-topics > tfoot > tr > th, .forum-table-topics > thead > tr > td, .forum-table-topics > tbody > tr > td, .forum-table-topics > tfoot > tr > td {
	padding: 1.2rem 1rem;
}
.forum-header-title {
	font-size: 18px;
}

.header .widget-selectables:last-child .widget-options-wrap {
	display: unset;
}
.header .widget-selectables .widget-option-img {
	display: unset;
}
.menu-pull-icon {
	fill: black;
}
.mobile-menu-pull {
	background-color: inherit;
	padding-top: 60%;
}
.logo .logo-img {
	width: 140px
}
.submenu.void {
	width: 50%;
	margin-left: -30px;
}

button.accent-color-bg {
	background-color: #F7A41A;
}

.section-title-wrap.primary-color .section-title-separator:before {
	background-color: #001446;
}

/*colors*/
.primary-color {
	color: #001446;
}
.base-color {
	color: #18535B;
}
.secondary-color {
 color: #9B461F!important;
}
.alternate-secondary-color {
	color: #275C7A;
}
.accent-color {
	color: #F7A41A!important;
}
.accent-color-bg {
	background-color: #F7A41A;
}
.highlight-color {
	color: #FFEF38;
}
.clr-whte {
	color: #FFF;
}

.main-menu .main-menu-item-link {
	font-size: 1.0125em;
}
.link-section .link-list {
	margin: 0;
}
.link-list-item a {
	font-size: 0.85em;
	padding-top: 5px;
}
.stick-top {
	position: sticky;
	z-index: 100;
	position: -webkit-fixed;
	top: 0;
}

.mgn-tp-30 {
	margin-top: 30px;
}

.sticky-side-bar {
	position: sticky;
	position: -webkit-fixed;
	top: 15%;
}

.editor-toolbar {
	margin-top: 15px;
}


.CodeMirror {
	min-height: 200px;
	border: 2px solid cadetblue;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	font-family: "Exo", sans-serif!important;
}

.editor-toolbar {
	border-top:2px solid cadetblue;
	border-left:2px solid cadetblue;
	border-right:2px solid cadetblue;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.promo-banner {
	background:unset;
	background-color: gray;
	min-height: 150px;
}

.reply-comment {
	font-size: 11px;
	color: gray;
	font-family: "Exo", sans-serif!important;
}

.form-box {
	padding: 34px 0px;
	max-width: 600px;
}


.fnt-sze-12 {
	font-size: 12px;
}

.pd-cstm {
	padding: 0px;
}

.fnt-w8-500 {
	font-weight: 500;
}


.topic-action-text {
	font-size: 12px!important;
}

.user-avatar > img {
	border-radius: 50%;
}

.post-comment .post-comment-actions .likes-count {
	font-size: 14px!important;
}


/* TOOLTIP STYLING */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* TOOLTIP STYLING */

.show-comments-styl {
	color: blue!important;
	font-weight: 700;
	text-decoration: underline;
}


/*START OF RESPONSIVE DESIGN*/

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.navigation .logo {
		
	}
	.post-comment .user-avatar {
		position: unset;
		display: block;
	}
	.cstm-post-img-width {
		width: 100%!important;
	}
	.cstm-width-50 {
		width: 80%;
	}
	.icon-cstm-width {
		width: 25%;
	}
	.layout-content-full {
		padding: unset;
	}
	.hidden-md {
		display: block;
	}
	.post-preview.landscape.big {
		height: 100%;
	}
	.logo .logo-img {
		width: 100px;
	}
	.banner-slider.v2 .slider-item-wrap {
		padding: 120px 0 0;
	}
	.banner-slider .slider-item-wrap {
		width: 80%;
	}
	.mobile-menu-wrap .logo-img {
		width: 70px;
	}
	.display-flex {
		display: flex;
	}
	.cstm-col-1 {
		grid-template-columns: unset;
	}
	.mgn_left-40 {
		margin-left: 3%;
	}
	.mgn_left-41 {
		margin-left: 35%;
	}
	.form-box {
		padding: unset!important;
	}
	.posts_header_text {
		padding: 10px 20px!important;
	}
	.cstm-width-70 {
		width: 90%!important;
	}
	.filters-row {
		padding: unset;
	}
	.comment-text-styl {
		display: none;
	}
}

@media screen and (max-width: 960px) {
	.post-preview.img-toggle {
		padding-top: 0px;
	}
	.post-preview.img-toggle .post-preview-img-wrap {
		display: block;
	}
	.post-preview.huge, .post-preview.huge.centered {
		padding: 12px 6px;
	}
	.banner-slider.v2 .slider-item-wrap {
		padding: 200px 0 0;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

