{% load static %}
<!-- favicon -->
  <link rel="android-chrome-icon" sizes="512x512" href="{% static 'img/acaciax/favicons/android-chrome-512x512.png' %}">
  <link rel="android-chrome-icon" sizes="192x192" href="{% static 'img/acaciax/favicons/android-chrome-192x192.png' %}">
  <link rel="apple-touch-icon" sizes="192x192" href="{% static 'img/acaciax/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/acaciax/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/acaciax/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/acaciax/favicons/site.webmanifest' %}">