{% load static %}
<!-- app bundle -->
<script src="{% static 'app.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/codemirror/tablist.js' %}"></script>
<script src="https://kit.fontawesome.com/fbad20e5c3.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/overhang.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/simplemde.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom-js.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/whatwg-fetch/dist/fetch.umd.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
	function DeleteAttempt(argument) {
		swal({
		  title: "Are you sure?",
		  text: "Are you sure that you want to leave this page?",
		  icon: "warning",
		  dangerMode: true,
		})
		.then(willDelete => {
		  if (willDelete) {
		    swal("Deleted!", "Your imaginary file has been deleted!", "success");
		  }
		});
}
</script>
