{% load static %}

  <!-- FOOTER TOP WRAP -->
  <div class="footer-top-wrap">
    <!-- FOOTER TOP -->
    <div class="footer-top grid-limit">
      <!-- FOOTER TOP BRAND -->
      <div class="footer-top-brand">
        <!-- LOGO -->
        <div class="logo negative">
           <!-- LOGO IMG -->
          <a href="{% url 'home' %}">
            <figure class="logo-img">
              <img src="{% static 'img/acaciax/logo/full-white-logo.png' %}" alt="Logo">
            </figure>
          </a>
          <!-- /LOGO IMG -->
        </div>
        <!-- /LOGO -->

        <!-- SPONSORS SLIDER WRAP -->
        <div class="sponsors-slider-wrap">
          <!-- SPONSORS SLIDER CONTROLS -->
          <div id="footer-sponsor-slider-controls" class="sponsors-slider-controls">
            <div class="sponsors-slider-control control-previous">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
            <div class="sponsors-slider-control control-next">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
          </div>
          <!-- /SPONSORS SLIDER CONTROLS -->

          <!-- SPONSORS SLIDER -->
          <div id="footer-sponsor-slider" class="sponsors-slider">
            <!-- SPONSORS SLIDER ITEMS -->
            <div class="sponsors-slider-items">
              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="{% static 'img/sponsors/sponsor01.png' %}" alt="sponsor01">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="{% static 'img/sponsors/sponsor02.png' %}" alt="sponsor02">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="{% static 'img/sponsors/sponsor03.png' %}" alt="sponsor03">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="{% static 'img/sponsors/sponsor04.png' %}" alt="sponsor04">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="{% static 'img/sponsors/sponsor05.png' %}" alt="sponsor05">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="{% static 'img/sponsors/sponsor06.png' %}" alt="sponsor06">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->
            </div>
            <!-- /SPONSORS SLIDER ITEMS -->
          </div>
          <!-- /SPONSORS SLIDER -->
        </div>
        <!-- /SPONSORS SLIDER WRAP -->

        <!-- SOCIAL LINKS -->
        <div class="social-links">
          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament fb">
            <!-- FACEBOOK ICON -->
            <svg class="facebook-icon">
              <use xlink:href="#svg-facebook"></use>
            </svg>
            <!-- /FACEBOOK ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament twt">
            <!-- TWITTER ICON -->
            <svg class="twitter-icon">
              <use xlink:href="#svg-twitter"></use>
            </svg>
            <!-- /TWITTER ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament insta">
            <!-- INSTAGRAM ICON -->
            <svg class="instagram-icon">
              <use xlink:href="#svg-instagram"></use>
            </svg>
            <!-- /INSTAGRAM ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->


          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament gplus">
            <!-- GPLUS ICON -->
            <svg class="gplus-icon">
              <use xlink:href="#svg-gplus"></use>
            </svg>
            <!-- /GPLUS ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->
          
        </div>
        <!-- /SOCIAL LINKS -->
      </div>
      <!-- /FOOTER TOP BRAND -->

      
    </div>
    <!-- /FOOTER TOP -->
  </div>
  <!-- /FOOTER TOP WRAP -->

  <!-- FOOTER BOTTOM WRAP -->
  <div class="footer-bottom-wrap">
    <!-- FOOTER BOTTOM -->
    <div class="footer-bottom grid-limit">
      <p class="footer-bottom-text"><span class="brand">ACACIAX</span><span class="separator">|</span>All Rights Reserved 2019</p>
      <p class="footer-bottom-text"><a href="#">Terms and Conditions</a><span class="separator">|</span><a href="#">Privacy Policy</a></p>
    </div>
    <!-- /FOOTER BOTTOM -->
  </div>
  <!-- /FOOTER BOTTOM WRAP -->