{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% load humanize %}

{% block title %}Acaciax | Analysis and Opinions{% endblock %}

{% block content_analysis %}
  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
    <!-- BANNER -->
    <div class="banner grid-limit cstm-width-60">
      <h2 class="banner-title text-left">ANALYSIS & OPINION</h2>
      <p class="banner-sections text-left">
        <a class="bread-crumb-home" href="{% url 'home' %}">
          <span class="banner-section">HOME</span>
        </a>
        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->
        <span class="banner-section">ANALYSIS & OPINION</span>
      </p>
      {% if request.user.is_superuser %}
      <br><br>
    <!-- BUTTON -->
      <a href="{% url 'new_analysis' %}" class="button small fnt-16 blue"><i class="fas fa-feather-alt"></i> Write an analysis piece</a>
    <!-- /BUTTON -->
      {% else %}

      {% endif %}
    </div>
    <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->


  <!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-1 grid-limit">
    <!-- LAYOUT BODY -->
    <div class="layout-body layout-item centered grid3-1col">
      <!-- LAYOUT ITEM -->
      <div class="layout-item cstm-grid-60 centered">
        <!-- POST PREVIEW -->
          {% for analysis in analysis_list reversed %}
          <div style="margin-bottom: 30px;" class="post-preview landscape big game-review">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="#0.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="{{ analysis.image.url }}" alt="post-16">
              </figure>
              <!-- POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="#0" class="tag-ornament">{{ analysis.category }}</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="{% url 'analysis_posts' analysis.pk %}" class="post-preview-title">{{ analysis.title }}</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <!-- USER AVATAR -->
            <a href="#0">
              <figure class="user-avatar tiny">
                <img src="{% if analysis.starter.userprofile.avatar %} {{ analysis.starter.userprofile.avatar.url }} {% else %} {{ analysis.starter|gravatar }} {% endif %}" alt="{{ analysis.starter.username }}">
              </figure>
            </a>
            <!-- /USER AVATAR -->
            <p class="post-author-info small light">By <a href="#0" class="post-author cstm-camel-case">{{ analysis.starter }}</a><span class="separator">|</span>{{ analysis.last_updated|naturaltime }}<span class="separator">|</span><a href="{% url 'analysis_posts' analysis.pk %}#op-comments" class="post-comment-count">{% if analysis.analysis_posts.count < 1 %} <span style="color: green;">be the first to comment</span> {% else %} {{ analysis.analysis_posts.count }} Comments {% endif %}</a></p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">{{ analysis.description|truncatechars:220 }}</p>

          {% if user.is_superuser %}
          <div class="article-control-admin">
          <!-- BUTTON -->
              <a href="{% url 'edit_analysis' analysis.pk %}" class="button small blue"><i class="fas fa-edit"></i> edit analysis piece</a>
              <!-- /BUTTON -->

              <form action="{% url 'delete_analysis' analysis.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="patient_id" value="{{ analysis.id }}" />

              <!-- BUTTON -->
              <button type="submit" onclick="return confirm('Are you sure you want to delete analysis piece?');" class="button small red"><i class="far fa-trash-alt"></i> delete news piece</button>
              <!-- /BUTTON -->
            </form>

          </div>
          {% else %}

          {% endif %}


        </div>
        {% endfor %}
        <!-- /POST PREVIEW -->
      </div>

<br><br>
<!-- PAGE NAVIGATION -->
{% include 'includes/pagination.html' %}
<!-- /PAGE NAVIGATION -->

      <!-- /LAYOUT ITEM -->

      <!-- LAYOUT ITEM -->
        <div class="layout-item padded">
          <a target="_blank" href="https://portal1.scopemarkets.co.ke/en/auth/register?linkId=38RNnnIwI8">
            <img class="wdth_100pc" src="{% static 'img/banners/scope_market/3.jpg' %}">
            <!-- PROMO BANNER -->
            <!-- <div class="promo-banner">
              <h1 class="text-center clr-whte cstm-pd-tp-2">ADVERTISE</h1>
            </div> -->
            <!-- /PROMO BANNER -->
          </a>
        </div>
        <!-- /LAYOUT ITEM -->


      
    </div>
    <!-- /LAYOUT BODY -->
  </div>
  <!-- /LAYOUT CONTENT 1 -->
{% endblock content_analysis %}