{% extends 'base.html' %}

{% load static %}

{% block title %}Acaciax | Analysis and Opinions{% endblock %}

{% block content_analysis %}
  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
    <!-- BANNER -->
    <div class="banner grid-limit cstm-width-60">
      <h2 class="banner-title text-left">ANALYSIS & OPINION</h2>
      <p class="banner-sections text-left">
        <a class="bread-crumb-home" href="{% url 'home' %}">
          <span class="banner-section">HOME</span>
        </a>
        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->
        <span class="banner-section">ANALYSIS & OPINION</span>
      </p>
    </div>
    <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->


  <!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-1 grid-limit">
    <!-- LAYOUT BODY -->
    <div class="layout-body layout-item centered grid3-1col">
      <!-- LAYOUT ITEM -->
      <div class="layout-item cstm-grid-60 centered">
        <!-- POST PREVIEW -->
        <div class="post-preview landscape big game-review">
          {% for analysis in analysis_list %}
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v2.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="{% static 'img/posts/16.jpg' %}" alt="post-16">
              </figure>
              <!-- POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v2.html" class="tag-ornament">{{ analysis.category }}</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="{% url 'analysis_posts' analysis.pk %}" class="post-preview-title">{{ analysis.title }}</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <!-- USER AVATAR -->
            <a href="search-results.html">
              <figure class="user-avatar tiny liquid">
                <img src="{% static 'img/users/04.jpg' %}" alt="user-04">
              </figure>
            </a>
            <!-- /USER AVATAR -->
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author cstm-camel-case">{{ analysis.starter }}</a><span class="separator">|</span>{{ analysis.last_updated }}<span class="separator">|</span><a href="post-v2.html#op-comments" class="post-comment-count">28 Comments</a></p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">{{ analysis.description }}</p>

          {% endfor %}
        </div>
        <!-- /POST PREVIEW -->

      </div>
      <!-- /LAYOUT ITEM -->
      
    </div>
    <!-- /LAYOUT BODY -->
  </div>
  <!-- /LAYOUT CONTENT 1 -->
{% endblock content_analysis %}