{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% load humanize %}

{% block title %}Acaciax | Analysis Posts{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({
      forceSync: true,
      autosave: {
        enabled: true,
        uniqueId: "analysis_article.pk",
        delay: 1000,
      }
    });
  </script>
{% endblock %}


{% block content_analysis_posts %}
  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
  <!-- BANNER -->
  <div class="banner grid-limit cstm-width-50">

  <!-- TAG ORNAMENT -->
    <a href="news-v2.html" class="tag-ornament cstm-bg-yellow">{{ analysis_article.category }}</a>
  <!-- /TAG ORNAMENT -->

  <h2 class="banner-title pad-tp_btm text-left">{{ analysis_article.title }}</h2>
  <!-- POST AUTHOR INFO -->
      <div class="post-author-info-wrap">
        <!-- USER AVATAR -->
        <a href="search-results.html">
          <figure class="user-avatar tiny liquid">
            <img src="{{ analysis_article.starter|gravatar }}" alt="user-04">
          </figure>
        </a>
        <!-- /USER AVATAR -->
        <p class="post-author-info small light">By <a href="#0" class="post-author cstm-camel-case clr-whte">{{ analysis_article.starter }}</a><span class="separator">|</span>{{ analysis_article.last_updated|naturaltime }}<span class="separator">|</span><a href="#op-comments" class="post-comment-count clr-whte">{{ analysis_article.analysis_posts.count }} Comment(s)</a></p>
      </div>
      <br>
      <!-- /POST AUTHOR INFO -->
      <div class="layout-item-2-1">
        <div class="layout-item cstm-no-grid">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/facebook_icon.png' %}">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/instagram_icon.png' %}">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/twitter_icon.png' %}">
        </div>

        <div class="layout-item">
          {% if user.is_superuser %}
          <div class="article-control-admin">
          <!-- BUTTON -->
              <a href="{% url 'edit_analysis' analysis_article.pk %}" class="button small fnt-16 blue"><i class="fas fa-edit"></i> edit analysis piece</a>
              <!-- /BUTTON -->

              <form action="{% url 'delete_analysis' analysis_article.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="patient_id" value="{{ analysis.id }}" />

              <!-- BUTTON -->
              <button style="margin-top: 10px;" type="submit" onclick="return confirm('Are you sure you want to delete news piece?');" class="button fnt-16 small red"><i class="far fa-trash-alt"></i> delete analysis piece</button>
              <!-- /BUTTON -->
            </form>

          </div>
          {% else %}

          {% endif %}
        </div>
      </div>
  </div>
  <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->


  <!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-full grid-limit cstm-width-700">
  <!-- FAQ ITEMS -->
  <div class="faq-items">
  <!-- FAQ ITEM -->
  <div class="faq-item no-border">
    <div class="cstm-post-title">
      <div class="post_section">
      <div class="posts_header_text">
        <h1>{{ analysis_article.title }}</h1>
      </div>
      <div class="posts_text cstm-width-80">
        <p>{{ analysis_article.description }}</p>
      </div>
    </div>
    </div>
    <!-- FAQ ITEM CONTENT -->
    <div class="faq-item-content">
      <!-- FAQ ITEM IMG -->
      <img class="faq-item-img cstm-post-img-width" src="{{ analysis_article.image.url }}" alt="{{ analysis_article.title }}">
      <!-- /FAQ ITEM IMG -->

      
    </div>
    <!-- /FAQ ITEM CONTENT -->
  </div>
  <!-- /FAQ ITEM -->

  <!-- FAQ ITEM -->
  <div class="faq-item">

    <!-- FAQ ITEM CONTENT -->
    <div class="faq-item-content accordion-open">


    </div>
    <!-- /FAQ ITEM CONTENT -->
  </div>
  <!-- /FAQ ITEM -->

  <!-- POST ITEM SHARE-->
  <div class="faq-item no-border">

      <div class="cstm-post-title">
        <div class="post_section">
          
            <h3 class="pad-tp_btm_post">Share with your friends</h3>
          
          <div class="posts_social-icons cstm-width-80">
            <div class="layout-item-2-1">
              <div class="layout-item cstm-no-grid">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/facebook_icon.png' %}">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/instagram_icon.png' %}">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/twitter_icon.png' %}">
              </div>
              <br><br>
              <div class="layout-item">
                
              </div>
            </div>

            <br><br><br>


            <!-- POST COMMENT THREAD -->
                <div id="op-comments" class="post-comment-thread">
                  <!-- SECTION TITLE WRAP -->
                  <div class="section-title-wrap blue">
                    <h2 class="section-title medium">Comments ({{ analysis_article.analysis_posts.count }})</h2>
                    <div class="section-title-separator"></div>
                  </div>
                  <!-- /SECTION TITLE WRAP -->

{% if analysis_article.analysis_posts.count < 1 %}
<br><br>
    <h3 style="color: red" class="text-center">NO COMMENTS YET.</h3>
{% else %}

{% for analysis_post in analysis_article.analysis_posts.all reversed %}
                  <!-- POST COMMENT -->
                  <div class="post-comment">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                      <img src="{{ analysis_post.created_by|gravatar }}" alt="{{ analysis_post.created_by }}">
                    </figure>
                    <!-- /USER AVATAR -->

                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">{{ analysis_post.created_by.username }}</p>
                    <!-- /POST COMMENT USERNAME -->

                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">{{ analysis_post.created_at|naturaltime }}</p>
                    <!-- /POST COMMENT TIMESTAMP -->

                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->

                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">{{ analysis_post.get_message_as_markdown }}</p>
                    <!-- /POST COMMENT TEXT -->

                    {% if analysis_post.created_by == user %}
                    <br>
                    <div class="mt-3">
                      <a href="{% url 'edit_analysis_post' analysis_post.analysis_article.pk analysis_post.pk %}"
                         class="button small blue"
                         role="button"><i class="fas fa-edit"></i> Edit comment?</a>

                         <form action="{% url 'delete_analysis_post' analysis_post.analysis_article.pk analysis_post.pk %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <!-- BUTTON -->
                          <button type="submit" onclick="return confirm('Are you sure you want to delete comment?');" class="button small red"><i class="far fa-trash-alt"></i> delete comment?</button>
                          <!-- /BUTTON -->
                        </form>

                    </div>
                    {% endif %}

                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">

                      <!-- LIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable tooltip cyan">
                        <span class="tooltiptext">like comment</span>
                        <i class="icon-like like-icon"></i>
                      </div>
                      <!-- /LIKE BUTTON -->

                      <!-- LIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /LIKES COUNT -->

                      <!-- DISLIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable tooltip red">
                        <span class="tooltiptext">dislike comment</span>
                        <i class="icon-dislike dislike-icon"></i>
                      </div>
                      <!-- /DISLIKE BUTTON -->

                      <!-- DISLIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /DISLIKES COUNT -->

                      <!-- REPLY BUTTON -->
                      <a style="margin-left: 40px;" href="{% url 'reply_analysis_post' analysis_post.analysis_article.pk analysis_post.pk %}">
                        <div class="reply-button {% if analysis_post.analysis_comments.count < 1 %} hoverable {% endif %} bubble-ornament tooltip blue">
                          <span class="tooltiptext">reply to comment</span>
                          <i class="icon-action-undo reply-icon"></i>
                        </div>
                      </a>
                      <!-- /REPLY BUTTON -->

                      <!-- REPLIES COUNT -->
                      <p id="replies_count-{{ analysis_post.pk }}" class="likes-count">{{ analysis_post.analysis_comments.count }} Replies</p>
                      <!-- /REPLIES COUNT -->

                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                    <br><br>

                    <!-- POST 1ST CHILD COMMENT -->
                  {% for analysis_comment in analysis_post.analysis_comments.all reversed %}
                  <div class="post-comment">

                    <div class="vl-1"> </div>

                    <div class="second-wrapper">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                      <img src="{{ analysis_comment.created_by|gravatar }}" alt="{{ analysis_comment.created_by }}">
                    </figure>
                    <!-- /USER AVATAR -->

                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">{{ analysis_comment.created_by.username }}</p>
                    <!-- /POST COMMENT USERNAME -->

                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">{{ analysis_comment.created_at|naturaltime }}</p>
                    <!-- /POST COMMENT TIMESTAMP -->

                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->

                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">{{ analysis_comment.get_message_as_markdown }}</p>
                    <!-- /POST COMMENT TEXT -->

                    {% if analysis_comment.created_by == user %}
                    <br>
                    <div class="mt-3">
                      <a href="{% url 'edit_analysis_comment' analysis_comment.analysis_post.analysis_article.pk analysis_comment.analysis_post.pk analysis_comment.pk %}"
                         class="button small blue"
                         role="button"><i class="fas fa-edit"></i> Edit comment</a>

                      <form action="{% url 'delete_analysis_comment' analysis_comment.analysis_post.analysis_article.pk analysis_comment.analysis_post.pk analysis_comment.pk %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <!-- BUTTON -->
                          <button type="submit" onclick="return confirm('Are you sure you want to delete comment?');" class="button small red"><i class="far fa-trash-alt"></i> Delete comment?</button>
                          <!-- /BUTTON -->
                        </form>
                    </div>
                    {% endif %}

                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">

                      <!-- LIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable tooltip cyan">
                        <span class="tooltiptext">like comment</span>
                        <i class="icon-like like-icon"></i>
                      </div>
                      <!-- /LIKE BUTTON -->

                      <!-- LIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /LIKES COUNT -->

                      <!-- DISLIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable tooltip red">
                        <span class="tooltiptext">dislike comment</span>
                        <i class="icon-dislike dislike-icon"></i>
                      </div>
                      <!-- /DISLIKE BUTTON -->

                      <!-- DISLIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /DISLIKES COUNT -->

                      <!-- REPLY BUTTON -->
                      <a style="margin-left: 40px;" href="{% url 'reply_analysis_post' analysis_post.analysis_article.pk analysis_post.pk %}">
                        <div class="reply-button {% if analysis_comment.analysis_comments2.count < 1 %} hoverable {% endif %} bubble-ornament tooltip blue">
                          <span class="tooltiptext">reply to comment</span>
                          <i class="icon-action-undo reply-icon"></i>
                        </div>
                      </a>
                      <!-- /REPLY BUTTON -->

                      <!-- REPLIES COUNT -->
                      <p id="replies_count-{{ analysis_post.pk }}" class="likes-count">{{ analysis_comment.analysis_comments2.count }} Replies</p>
                      <!-- /REPLIES COUNT -->

                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                    </div>


                    <!-- POST 2ND CHILD COMMENT -->
                  {% for analysis_comment2 in analysis_comment.analysis_comments2.all reversed %}
                  <div class="post-comment">
                    <div class="vl-2"> </div>
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                      <img src="{{ article_comment.created_by|gravatar }}" alt="{{ article_comment.created_by }}">
                    </figure>
                    <!-- /USER AVATAR -->

                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">{{ article_comment2.created_by.username }}</p>
                    <!-- /POST COMMENT USERNAME -->

                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">{{ article_comment2.created_at|naturaltime }}</p>
                    <!-- /POST COMMENT TIMESTAMP -->

                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->

                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">{{ article_comment2.get_message_as_markdown }}</p>
                    <!-- /POST COMMENT TEXT -->

                    {% if article_comment2.created_by == user %}
                    <br>
                    <div class="mt-3">
                      <a href=""
                         class="button small blue"
                         role="button"><i class="fas fa-edit"></i> Edit comment</a>

                      <form action="" method="post" style="display: inline;">
                          {% csrf_token %}
                          <!-- BUTTON -->
                          <button type="submit" onclick="return confirm('Are you sure you want to delete comment?');" class="button small red"><i class="far fa-trash-alt"></i> Delete comment?</button>
                          <!-- /BUTTON -->
                        </form>

                    </div>
                    {% endif %}

                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">

                      <!-- LIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable cyan">
                        <i class="icon-like like-icon"></i>
                      </div>
                      <!-- /LIKE BUTTON -->

                      <!-- LIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /LIKES COUNT -->

                      <!-- DISLIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable red">
                        <i class="icon-dislike dislike-icon"></i>
                      </div>
                      <!-- /DISLIKE BUTTON -->

                      <!-- DISLIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /DISLIKES COUNT -->
                      

                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                  </div>
                  {% endfor %}
                  <!-- END POST 2ND CHILD COMMENT -->

                  </div>
                  {% endfor %}
                  <!-- END POST 1ST CHILD COMMENT -->

                  </div>
                  <!-- /POST COMMENT -->

{% endfor %}
    </div>
{% endif %}


                <!-- /POST COMMENT THREAD -->
                <br><br><br><br><br>
                <!-- POST COMMENT FORM WRAP -->
            <div class="post-comment-form-wrap">
              <!-- SECTION TITLE WRAP -->
              <div class="section-title-wrap blue">
                <h2 class="section-title medium">{% if analysis_article.analysis_posts.count < 1 %} <span style="color: green;">Be the first to comment</span> {% else %} Write a comment {% endif %}</h2>
                <div class="section-title-separator"></div>
              </div>
              <!-- /SECTION TITLE WRAP -->

               {% if user.is_authenticated %}
                <!-- FORM ROW -->
                <div class="form-row">
                  <!-- FORM WRAP -->
                    <form method="post">
                    {% csrf_token %}
                    
                    {% include 'includes/form.html' %}

                    <button type="submit" class="button blue full">Post your comment</button>
                  </form>
                        <!-- /FORM WRAP -->
                </div>
                <!-- /FORM ROW -->
                {% else %}
                <br><br>
                  <h4>Please Sign in or Register to share a comment</h4>
                  <br><br>
                  <!-- BUTTON -->
                    <button style="font-size: 15px;" class="button blue cstm_fit_content">
                      SIGN IN
                      <!-- BUTTON ORNAMENT -->
                      <span class="button-ornament">
                        <!-- ARROW ICON -->
                        <svg class="arrow-icon medium">
                          <use xlink:href="#svg-arrow-medium"></use>
                        </svg>
                        <!-- /ARROW ICON -->

                        <!-- CROSS ICON -->
                        <svg class="cross-icon small">
                          <use xlink:href="#svg-cross-small"></use>
                        </svg>
                        <!-- /CROSS ICON -->
                      </span>
                      <!-- /BUTTON ORNAMENT -->
                    </button>
                    <!-- /BUTTON -->

                    <!-- BUTTON -->
                    <button style="font-size: 15px;" class="button accent-color-bg cstm_fit_content">
                      CREATE ACCOUNT
                      <!-- BUTTON ORNAMENT -->
                      <span class="button-ornament">
                        <!-- ARROW ICON -->
                        <svg class="arrow-icon medium">
                          <use xlink:href="#svg-arrow-medium"></use>
                        </svg>
                        <!-- /ARROW ICON -->

                        <!-- CROSS ICON -->
                        <svg class="cross-icon small">
                          <use xlink:href="#svg-cross-small"></use>
                        </svg>
                        <!-- /CROSS ICON -->
                      </span>
                      <!-- /BUTTON ORNAMENT -->
                    </button>
                    <!-- /BUTTON -->

                {% endif %}
            </div>
            <!-- /POST COMMENT FORM WRAP -->

          </div>
      </div>
    </div>
  </div>

  </div>
  <!-- /FAQ ITEMS -->
  </div>
  <!-- /LAYOUT CONTENT FULL -->


  {% endblock content_analysis_posts %}