{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% load humanize %}

{% block title %}Acaciax | Article Posts{% endblock %}


{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({forceSync: true});
  </script>
{% endblock %}


{% block content_article_posts %}
  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
  <!-- BANNER -->
  <div class="banner grid-limit cstm-width-50">

  <!-- TAG ORNAMENT -->
    <a href="#0" class="tag-ornament cstm-bg-yellow">{{ article.category }}</a>
  <!-- /TAG ORNAMENT -->

  <h2 class="banner-title pad-tp_btm text-left">{{ article.title }}</h2>
  <!-- POST AUTHOR INFO -->
      <div class="post-author-info-wrap">
        <!-- USER AVATAR -->
        <a href="#0">
          <figure class="user-avatar tiny liquid">
            <img src="{{ article.starter|gravatar }}" alt="{{ article.starter }}">
          </figure>
        </a>
        
        <!-- /USER AVATAR -->
        <p class="post-author-info small light">By <a href="#0" class="post-author cstm-camel-case clr-whte">{{ article.starter }}</a><span class="separator">|</span>{{ article.last_updated|naturaltime }}<span class="separator">|</span><a href="#op-comments" class="post-comment-count clr-whte">{{ article.article_posts.count }} Comment(s)</a></p>
        
      </div>
      <br>
      <!-- /POST AUTHOR INFO -->
      <div class="layout-item-2-1">
        <div class="layout-item cstm-no-grid">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/facebook_icon.png' %}">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/instagram_icon.png' %}">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/twitter_icon.png' %}">
        </div>

        <div class="layout-item">

          {% if user.is_superuser %}
          <div class="article-control-admin">
          <!-- BUTTON -->
              <a href="{% url 'edit_article' article.pk %}" class="button small blue"><i class="fas fa-edit"></i> edit article</a>
              <!-- /BUTTON -->

              <form action="{% url 'delete_article' article.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="patient_id" value="{{ patient.id }}" />

              <!-- BUTTON -->
              <button type="submit" onclick="return confirm('Are you sure you want to delete article?');" class="button small red"><i class="far fa-trash-alt"></i> delete article</button>
              <!-- /BUTTON -->
            </form>

          </div>
          {% else %}

          {% endif %}

        </div>
      </div>
  </div>
  <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->


  <!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-full grid-limit cstm-width-700">
  <!-- FAQ ITEMS -->
  <div class="faq-items">
  <!-- FAQ ITEM -->
  <div class="faq-item no-border">
    <div class="cstm-post-title">
      <div class="post_section">
      <div class="posts_header_text">
        <h1>{{ article.title }}</h1>
      </div>
      <div class="posts_text cstm-width-80">
        <p>{{ article.get_message_as_markdown }}</p>
      </div>
    </div>
    </div>
    <!-- FAQ ITEM CONTENT -->
    <div class="faq-item-content">
      <!-- FAQ ITEM IMG -->
      <img class="faq-item-img cstm-post-img-width" src="{{ article.image.url }}" alt="{{ article.title }}">
      <!-- /FAQ ITEM IMG -->

      
    </div>
    <!-- /FAQ ITEM CONTENT -->
  </div>
  <!-- /FAQ ITEM -->

  <!-- FAQ ITEM -->
  <div class="faq-item">

    <!-- FAQ ITEM CONTENT -->
    <div class="faq-item-content accordion-open">
      <br><br>
      <!-- <button class="plain-btn-3">STOCKS</button>
      <button class="plain-btn-3">MARKETS</button>
      <button class="plain-btn-3">COMMODITIES</button> -->

    </div>
    <!-- /FAQ ITEM CONTENT -->
  </div>
  <!-- /FAQ ITEM -->

  <!-- POST ITEM SHARE-->
  <div class="faq-item no-border">

      <div class="cstm-post-title">
        <div class="post_section">
          
            <h3 class="pad-tp_btm_post">Share this article</h3>
          
          <div class="posts_social-icons cstm-width-80">
            <div class="layout-item-2-1">
              <div class="layout-item cstm-no-grid">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/facebook_icon.png' %}">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/instagram_icon.png' %}">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/twitter_icon.png' %}">
              </div>
              <br><br>
              <div class="layout-item">
                
              </div>
            </div>

          </div>
<br><br>

            <!-- POST COMMENT THREAD -->
                <div id="op-comments" class="post-comment-thread">
                  <!-- SECTION TITLE WRAP -->
                  <div class="section-title-wrap blue">
                    <h2 class="section-title medium">Comments ({{ article.article_posts.count }})</h2>
                    <div class="section-title-separator"></div>
                  </div>
                  <!-- /SECTION TITLE WRAP -->

{% if article.article_posts.all.count < 1  %}
<br><br>
<h4 style="color: red;">No comments yet</h4>
<br>
{% else %}

{% for article_post in article.article_posts.all reversed %}
                  <!-- POST COMMENT -->
                  <div class="post-comment">
                    <div class="first-wrapper">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                      <img src="{{ article_post.created_by|gravatar }}" alt="{{ article_post.created_by }}">
                    </figure>
                    <!-- /USER AVATAR -->

                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">{{ article_post.created_by.username }}</p>
                    <!-- /POST COMMENT USERNAME -->

                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">{{ article_post.created_at|naturaltime }}</p>
                    <!-- /POST COMMENT TIMESTAMP -->

                    <!-- REPORT BUTTON -->
                    <a href="#0" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->

                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">{{ article_post.get_message_as_markdown }}</p>
                    <!-- /POST COMMENT TEXT -->

                    {% if article_post.created_by == user %}
                    <br>
                    <div class="mt-3">
                      <a href="{% url 'edit_article_post' article_post.article.pk article_post.pk %}"
                         class="button small blue"
                         role="button"><i class="fas fa-edit"></i> edit post?</a>


                         <form action="{% url 'delete_article_post' article_post.article.pk article_post.pk %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <!-- BUTTON -->
                          <button type="submit" onclick="return confirm('Are you sure you want to delete post?');" class="button small red"><i class="far fa-trash-alt"></i> delete post?</button>
                          <!-- /BUTTON -->
                        </form>

                    </div>
                    {% endif %}

                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">

                      <!-- LIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable tooltip cyan">
                        <span class="tooltiptext">like comment</span>
                        <i class="icon-like like-icon"></i>
                      </div>
                      <!-- /LIKE BUTTON -->

                      <!-- LIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /LIKES COUNT -->

                      <!-- DISLIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable tooltip red">
                        <span class="tooltiptext">dislike comment</span>
                        <i class="icon-dislike dislike-icon"></i>
                      </div>
                      <!-- /DISLIKE BUTTON -->

                      <!-- DISLIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /DISLIKES COUNT -->

                      <!-- REPLY BUTTON -->
                      <a style="margin-left: 40px;" href="{% url 'reply_article_post' article_post.article.pk article_post.pk %}">
                        <div class="reply-button bubble-ornament tooltip {% if article_post.article_comments.count <= 0 %} hoverable {% endif %}blue">
                          <span class="tooltiptext">reply to comment</span>
                          <i class="icon-action-undo reply-icon"></i>
                        </div>
                      </a>
                      <!-- /REPLY BUTTON -->

                      <!-- REPLIES COUNT -->
                      <p id="replies_count-{{ article_post.pk }}" class="likes-count">{{ article_post.article_comments.count }} Replies</p>
                      <!-- /REPLIES COUNT -->

                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                    </div>



                    <!-- POST 1ST CHILD COMMENT -->
                  {% for article_comment in article_post.article_comments.all reversed %}
                  <div class="post-comment">
                    <div class="second-wrapper">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                      <img src="{{ article_comment.created_by|gravatar }}" alt="{{ article_comment.created_by }}">
                    </figure>
                    <!-- /USER AVATAR -->

                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">{{ article_comment.created_by.username }}</p>
                    <!-- /POST COMMENT USERNAME -->

                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">{{ article_comment.created_at|naturaltime }}</p>
                    <!-- /POST COMMENT TIMESTAMP -->

                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->

                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">{{ article_comment.get_message_as_markdown }}</p>
                    <!-- /POST COMMENT TEXT -->

                    {% if article_comment.created_by == user %}
                    <br>
                    <div class="mt-3">
                      <a href="{% url 'edit_article_comment' article_comment.article_post.article.pk article_comment.article_post.pk article_comment.pk %}"
                         class="button small blue"
                         role="button"><i class="fas fa-edit"></i> Edit comment</a>

                      <form action="{% url 'delete_article_comment' article_comment.article_post.article.pk article_comment.article_post.pk article_comment.pk %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <!-- BUTTON -->
                          <button type="submit" onclick="return confirm('Are you sure you want to delete comment?');" class="button small red"><i class="far fa-trash-alt"></i> Delete comment?</button>
                          <!-- /BUTTON -->
                        </form>
                    </div>
                    {% endif %}

                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">

                      <!-- LIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable cyan">
                        <i class="icon-like like-icon"></i>
                      </div>
                      <!-- /LIKE BUTTON -->

                      <!-- LIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /LIKES COUNT -->

                      <!-- DISLIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable red">
                        <i class="icon-dislike dislike-icon"></i>
                      </div>
                      <!-- /DISLIKE BUTTON -->

                      <!-- DISLIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /DISLIKES COUNT -->

                      <!-- REPLY BUTTON -->
                      <a style="margin-left: 40px;" href="{% url 'reply_article_comment' article_comment.article_post.article.pk article_comment.article_post.pk article_comment.pk %}">
                        <div class="reply-button hoverable bubble-ornament blue">
                          <i class="icon-action-undo reply-icon"></i>
                        </div>
                      </a>
                      <!-- /REPLY BUTTON -->

                      <!-- REPLIES COUNT -->
                      <p id="replies_count-{{ article_comment.pk }}" class="likes-count">{{ article_comment.article_comments2.count }} Replies</p>
                      <!-- /REPLIES COUNT -->

                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                    </div>


                    <!-- POST 2ND CHILD COMMENT -->
                  {% for article_comment2 in article_comment.article_comments2.all reversed %}
                  <div class="post-comment">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                      <img src="{{ article_comment.created_by|gravatar }}" alt="{{ article_comment.created_by }}">
                    </figure>
                    <!-- /USER AVATAR -->

                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">{{ article_comment2.created_by.username }}</p>
                    <!-- /POST COMMENT USERNAME -->

                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">{{ article_comment2.created_at|naturaltime }}</p>
                    <!-- /POST COMMENT TIMESTAMP -->

                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->

                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">{{ article_comment2.get_message_as_markdown }}</p>
                    <!-- /POST COMMENT TEXT -->

                    {% if article_comment2.created_by == user %}
                    <br>
                    <div class="mt-3">
                      <a href="{% url 'edit_article_comment2' article_comment2.article_comment.article_post.article.pk article_comment2.article_comment.article_post.pk article_comment2.article_comment.pk article_comment2.pk %}"
                         class="button small blue"
                         role="button"><i class="fas fa-edit"></i> Edit comment</a>

                      <form action="{% url 'delete_article_comment2' article_comment2.article_comment.article_post.article.pk article_comment2.article_comment.article_post.pk article_comment2.article_comment.pk article_comment2.pk %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <!-- BUTTON -->
                          <button type="submit" onclick="return confirm('Are you sure you want to delete comment?');" class="button small red"><i class="far fa-trash-alt"></i> Delete comment?</button>
                          <!-- /BUTTON -->
                        </form>

                    </div>
                    {% endif %}

                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">

                      <!-- LIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable cyan">
                        <i class="icon-like like-icon"></i>
                      </div>
                      <!-- /LIKE BUTTON -->

                      <!-- LIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /LIKES COUNT -->

                      <!-- DISLIKE BUTTON -->
                      <div class="like-button bubble-ornament hoverable red">
                        <i class="icon-dislike dislike-icon"></i>
                      </div>
                      <!-- /DISLIKE BUTTON -->

                      <!-- DISLIKES COUNT -->
                      <p class="likes-count">0 Thumbs Up</p>
                      <!-- /DISLIKES COUNT -->
                      

                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                  </div>
                  {% endfor %}
                  <!-- END POST 2ND CHILD COMMENT -->


                  </div>
                  {% endfor %}
                  <!-- END POST 1ST CHILD COMMENT -->


                  </div>
                  <!-- /POST COMMENT -->
  {% endfor %}
                </div>
{% endif %}
                <!-- /POST COMMENT THREAD -->

                <br><br><br><br>

                <!-- POST COMMENT FORM WRAP -->
  <div class="post-comment-form-wrap">
    <!-- SECTION TITLE WRAP -->
    <div class="section-title-wrap blue">
      <h2 class="section-title medium">{% if article.article_posts.count < 1 %} <span style="color: green;">Be the first to comment</span> {% else %} Write a comment {% endif %}</h2>
      <div class="section-title-separator"></div>
    </div>
    <!-- /SECTION TITLE WRAP -->

      {% if user.is_authenticated %}
                <!-- FORM ROW -->
                <div class="form-row">
                  <!-- FORM WRAP -->
                    <form method="post">
                    {% csrf_token %}
                    
                    {% include 'includes/form.html' %}

                    <button type="submit" class="button blue full">Post your comment</button>
                  </form>
                        <!-- /FORM WRAP -->
                </div>
                <!-- /FORM ROW -->
                {% else %}
                <br><br>
                  <h4>Please Sign in or Register to share a comment</h4>
                  <br><br>
                  <!-- BUTTON -->
                  <a href="{% url 'login' %}">
                    <button style="font-size: 15px;" class="button blue cstm_fit_content">
                      SIGN IN
                      <!-- BUTTON ORNAMENT -->
                      <span class="button-ornament">
                        <!-- ARROW ICON -->
                        <svg class="arrow-icon medium">
                          <use xlink:href="#svg-arrow-medium"></use>
                        </svg>
                        <!-- /ARROW ICON -->

                        <!-- CROSS ICON -->
                        <svg class="cross-icon small">
                          <use xlink:href="#svg-cross-small"></use>
                        </svg>
                        <!-- /CROSS ICON -->
                      </span>
                      <!-- /BUTTON ORNAMENT -->
                    </button>
                  </a>
                    <!-- /BUTTON -->

                    <!-- BUTTON -->
                    <a href="{% url 'signup' %}">
                      <button style="font-size: 15px;" class="button accent-color-bg cstm_fit_content">
                        CREATE ACCOUNT
                        <!-- BUTTON ORNAMENT -->
                        <span class="button-ornament">
                          <!-- ARROW ICON -->
                          <svg class="arrow-icon medium">
                            <use xlink:href="#svg-arrow-medium"></use>
                          </svg>
                          <!-- /ARROW ICON -->

                          <!-- CROSS ICON -->
                          <svg class="cross-icon small">
                            <use xlink:href="#svg-cross-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </span>
                        <!-- /BUTTON ORNAMENT -->
                      </button>
                    </a>
                    <!-- /BUTTON -->

                {% endif %}
  </div>
  <!-- /POST COMMENT FORM WRAP -->

          </div>
      </div>
    </div>
  </div>
  </div>
  <!-- /FAQ ITEMS -->
  </div>
  <!-- /LAYOUT CONTENT FULL -->
<br><br><br>
  <div class="layout-content-full grid-limit grid3-1col centered">
  <div class="layout-item-2-1 mgn_top_10pc display-flex">
      <div class="layout-item">
          <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap light-gray">
          <h2 class="">ANALYSIS AND OPINION</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->
      </div>

      <div class="layout-item">
        <!-- BUTTON -->
        <a href="{% url 'analysis' %}">
          <button class="button light-gray cstm_fit_content mgn_left-40">
            MORE ANALYSIS
            <!-- BUTTON ORNAMENT -->
            <span class="button-ornament">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->

              <!-- CROSS ICON -->
              <svg class="cross-icon small">
                <use xlink:href="#svg-cross-small"></use>
              </svg>
              <!-- /CROSS ICON -->
            </span>
            <!-- /BUTTON ORNAMENT -->
          </button>
        </a>
          <!-- /BUTTON -->
      </div>
    </div>
  

    <!-- LAYOUT ITEM 1-1-1 -->
        <div class="layout-item-1-1-1">
          <!-- LAYOUT ITEM -->
          {% for analysis in analysis_objects|slice:":3" %}
          <div style="margin-bottom: 25px;" class="layout-item">
            <!-- POST PREVIEW -->
            <div class="post-preview gaming-news img-toggle">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="{% url 'analysis_posts' analysis.pk %}">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="{{ analysis.image.url }}" alt="{{ analysis.title }}">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- TAG ORNAMENT -->
              <a href="#0" class="tag-ornament">{{ analysis.category }}</a>
              <!-- /TAG ORNAMENT -->

              <!-- POST PREVIEW TITLE -->
              <a href="{% url 'analysis_posts' analysis.pk %}" class="post-preview-title">{{ analysis.title }}</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="#0" class="post-author cstm-camel-case">{{ analysis.starter }}</a><span class="separator">|</span>{{ analysis.last_updated|naturaltime }}</p>
              </div>
              <!-- /POST AUTHOR INFO -->
              <!-- POST PREVIEW TEXT -->
              <p class="post-preview-text base-color">{{ analysis.description|truncatechars:200 }}.</p>
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /LAYOUT ITEM -->
          {% endfor %}
        </div>
        <!-- /LAYOUT ITEM 1-1-1 -->
  
  </div>

  <br><br><br>

  {% endblock content_article_posts %}