<!-- BADGE LIST -->
        <div class="badge-list">
          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/legendary_user_small.png' %}" alt="legendary_user_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/user_level_02_small.png' %}" alt="user_level_02_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/liked_user_small.png' %}" alt="liked_user_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/master_reviewer_small.png' %}" alt="master_reviewer_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/caffeinated_small.png' %}" alt="caffeinated_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/super_forum_traveller_small.png' %}" alt="super_forum_traveller_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/ultra_powered_small.png' %}" alt="ultra_powered_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/super_writer_small.png' %}" alt="super_writer_small">
          </a>
          <!-- /BADGE IMG -->
        </div>
        <!-- /BADGE LIST -->