{% extends 'base.html' %}
{% load static %}

{% block title %}Acaciax | Economic Calendar{% endblock %}

{% block content_economic_calendar %}

<!-- LAYOUT CONTENT 1 -->
<div class="layout-content-1 grid-limit">
  <!-- LAYOUT BODY -->
  <div class="layout-body layout-item centered grid3-1col">
    <!-- LAYOUT ITEM -->
    <div class="layout-item cstm-grid-60 centered">

      <div class="layout-item-2-1">
        <div class="layout-item">
            <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap light-gray">
            <h2 class="">ECONOMIC CALENDAR</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->
        </div>

        <div class="layout-item">
    
        </div>
      </div>
        
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
        {
        "colorTheme": "light",
        "isTransparent": false,
        "width": "1100",
        "height": "600",
        "locale": "en",
        "importanceFilter": "-1,0,1"
      }
        </script>
      </div>
      <!-- TradingView Widget END -->

    </div>
    <!-- /LAYOUT ITEM -->

    <div class="layout-item-2-1 mgn_top_10pc">
        <div class="layout-item">
            <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap light-gray">
            <h2 class="">ANALYSIS AND OPINION</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->
        </div>

        <div class="layout-item">
          <!-- BUTTON -->
            <button class="button light-gray cstm_fit_content mgn_left-40">
              MORE ANALYSIS
              <!-- BUTTON ORNAMENT -->
              <span class="button-ornament">
                <!-- ARROW ICON -->
                <svg class="arrow-icon medium">
                  <use xlink:href="#svg-arrow-medium"></use>
                </svg>
                <!-- /ARROW ICON -->

                <!-- CROSS ICON -->
                <svg class="cross-icon small">
                  <use xlink:href="#svg-cross-small"></use>
                </svg>
                <!-- /CROSS ICON -->
              </span>
              <!-- /BUTTON ORNAMENT -->
            </button>
            <!-- /BUTTON -->
        </div>
      </div>

    <!-- LAYOUT ITEM 1-1-1 -->
    <div class="layout-item-1-1-1">
      <!-- LAYOUT ITEM -->
      <div class="layout-item">

        <!-- POST PREVIEW -->
        <div class="post-preview gaming-news img-toggle">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/17.jpg" alt="post-17">
              </figure>
              <!-- /POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">COMMODITIES WEEKLY</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">SOYBEANS AT A 16-MONTH HIGH</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
        </div>
        <!-- /POST PREVIEW -->
        
      </div>
      <!-- /LAYOUT ITEM -->

      <!-- LAYOUT ITEM -->
      <div class="layout-item">
        <!-- POST PREVIEW -->
        <div class="post-preview gaming-news img-toggle">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/17.jpg" alt="post-17">
              </figure>
              <!-- /POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">COMMODITIES WEEKLY</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">SOYBEANS AT A 16-MONTH HIGH</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
        </div>
        <!-- /POST PREVIEW -->
      </div>
      <!-- /LAYOUT ITEM -->
      <div class="layout-item">
        <!-- POST PREVIEW -->
        <div class="post-preview gaming-news img-toggle">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/17.jpg" alt="post-17">
              </figure>
              <!-- /POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">COMMODITIES WEEKLY</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">SOYBEANS AT A 16-MONTH HIGH</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
        </div>
        <!-- /POST PREVIEW -->
      </div>
    </div>
    <!-- /LAYOUT ITEM 1-1-1 -->
    
  </div>
  <!-- /LAYOUT BODY -->
</div>
<!-- /LAYOUT CONTENT 1 -->

{% endblock content_economic_calendar %}