{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Acaciax | Forum{% endblock %}

{% block content_forum %}
  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
    <!-- BANNER -->
    <div class="banner grid-limit cstm-width-60">
      <h2 class="banner-title text-left">ACACIAX FORUMS</h2>
      <p class="banner-sections text-left">
        <a href="{% url 'home' %}">
          <span class="clr-whte banner-section">Home</span>
        </a>
        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->
        <span class="banner-section"><strong>Forum</strong></span>
      </p>
    </div>
    <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->


  <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-1 grid-limit cstm-width-70">
    <!-- FILTERS ROW -->
    <div class="filters-row">
      <!-- DROPDOWN SIMPLE WRAP -->
      <div class="dropdown-simple-wrap">
        <!-- DP CURRENT OPTION -->
        <div id="filter-01-dropdown-trigger" class="dp-current-option">
          <!-- DP CURRENT OPTION VALUE -->
          <div id="filter-01-dropdown-option-value" class="dp-current-option-value">
            <p class="dp-option-text">All Categories</p>
          </div>
          <!-- /DP CURRENT OPTION VALUE -->

          <!-- ARROW ICON -->
          <svg class="arrow-icon">
            <use xlink:href="#svg-arrow"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
        <!-- /DP CURRENT OPTION -->

        <!-- DP OPTIONS -->
        <div id="filter-01-dropdown" class="dp-options small">
          {% for category in categories %}
          <!-- DP OPTION -->
          <div class="dp-option">
            <p class="dp-option-text"><a href="{% url 'category_topics' category.pk %}">{{ category.name }}</a></p>
          </div>
          <!-- /DP OPTION -->
          {% endfor %}
        </div>
        <!-- /DP OPTIONS -->
      </div>
      <!-- /DROPDOWN SIMPLE WRAP -->


      <!-- FORUM ACTIONS -->
      <div class="forum-actions">
        <!-- DROPDOWN SIMPLE WRAP -->
        <div class="dropdown-simple-wrap">
          <!-- CURRENT OPTION -->
          <div id="forums-search-dropdown-trigger" class="current-option">
            <!-- BUTTON -->
            <p class="button small red">Search Forums</p>
            <!-- /BUTTON -->
          </div>
          <!-- /CURRENT OPTION -->
  
          <!-- DP OPTIONS -->
          <div id="forums-search-dropdown" class="dp-options medium">
            <!-- FORM WRAP -->
            <form class="form-wrap">
              <!-- FORM ROW -->
              <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                  <!-- SUBMIT INPUT -->
                  <div class="submit-input red">
                    <input type="text" id="forum_search_input" name="forum_search_input" placeholder="What are you looking for?...">
                    <button class="submit-input-button">
                      <!-- ARROW ICON -->
                      <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                      </svg>
                      <!-- /ARROW ICON -->
                    </button>
                  </div>
                  <!-- /SUBMIT INPUT -->
                </div>
                <!-- /FORM ITEM -->
              </div>
              <!-- /FORM ROW -->

              <!-- FORM CONFIRM ROW -->
              <div class="form-confirm-row">
                <!-- CHECKBOX ITEM -->
                <div class="checkbox-item">
                  <input type="checkbox" id="f_search_cat_only" name="f_search_cat_only" value="only" checked>
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box blue">
                    <!-- CROSS ICON -->
                    <svg class="cross-cb-icon small">
                      <use xlink:href="#svg-cross-cb-small"></use>
                    </svg>
                    <!-- /CROSS ICON -->
                  </div>
                  <!-- CHECKBOX BOX -->
                  <label for="f_search_cat_only" class="rl-label">Search this category only</label>
                </div>
                <!-- /CHECKBOX ITEM -->

                <!-- DECORATED LINK -->
                <p class="decorated-link red popup-advanced-search-trigger">Advanced Search</p>
                <!-- /DECORATED LINK -->
              </div>
              <!-- /FORM CONFIRM ROW -->
            </form>
            <!-- FORM WRAP -->
          </div>
          <!-- /DP OPTIONS -->
        </div>
        <!-- /DROPDOWN SIMPLE WRAP -->

        
      </div>
      <!-- /FORUM ACTIONS -->
    </div>
    <!-- /FILTERS ROW -->

        <!-- TABLE -->

        <div class="table-responsive-vertical grid3-1col">
          <!-- Table starts here -->
          <table id="table" class="table forum-table-topics no-brdr-space table-hover table-mc-light-blue">
              <thead>
                <tr class="capitalize">
                  <th class="forum-header-title">Category</th>
                  <th class="forum-header-title">Topics</th>
                  <th class="forum-header-title">Post</th>
                  <th class="forum-header-title">Latest</th>
                </tr>
              </thead>
              
              <tbody>

                {% for category in categories %}
                <tr>
                  <td class="category-title">
                    <h3 class="pd-btm-12 text-left"><a href="{% url 'category_topics' category.pk %}">{{ category.name }}</a></h3>
                    <p class="cstm-width-a text-left"><em>{{ category.description }}</em></p>
                  </td>
                  <td class="topics-count fnt-w8-800 text-center" data-title="Topics"> {{ category.topics.count }} </td>
                  <td class="forum-posts-count fnt-w8-800 text-center" data-title="Posts">{{ category.get_posts_count }} </td>
                  <td class="forum-latest fnt-w8-500 clr_black" data-title="Latest">
                    
                    {% with topic=category.get_topic_list %}
                      {% for subtopic in topic|slice:":3" %}
                        {% if subtopic %}
                          <p style="font-weight: 600; line-height: 1.0em; margin-left:30%;"><a href="{% url 'topic_posts' category.pk subtopic.pk %}">{{ subtopic.subject|truncatechars:25 }}</a> <span style="font-size: 10px; color: #777;"> {{ subtopic.last_updated|naturaltime|truncatechars:8 }}</span></p>
                        {% else %}
                          <p>No Topics yet</p>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
    <!-- /TABLE -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

{% endblock content_forum %}
