{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% load humanize %}

{% block content_home %}

  

      <!-- LAYOUT CONTENT 1 -->
      <div class="layout-content-1 layout-item-3-1 grid-limit">
        <!-- LAYOUT BODY -->
        <div class="layout-body">
          <!-- LAYOUT ITEM -->
          <div class="layout-item gutter-big">
            
                  <!-- LAYOUT ITEM -->
                  <div class="layout-item">


                    <div class="layout-item-2-1 display-flex">
                      <div class="layout-item layout-item-xs">
                        <!-- SECTION TITLE WRAP -->
                      <div class="section-title-wrap primary-color">
                        <h2 class="primary-color">IN THE NEWS</h2>
                        <div class="section-title-separator"></div>
                      </div>
                      <!-- /SECTION TITLE WRAP -->
                      </div>
                    </div>


                    <!-- POSTSLIDE WRAP -->
                    <div class="postslide-wrap">
                      <!-- POSTSLIDE -->
                      <div id="postslide-1" class="postslide">
                        <!-- NEWS PREVIEW -->
                        <div class="news-preview slider-items">

                          {% for news_list in news_lists|slice:":5" %}
                          <!-- POST PREVIEW -->
                          <div class="post-preview picture big geeky-news">
                            <!-- POST PREVIEW IMG WRAP -->
                            <a href="{% url 'news_posts' news_list.pk %}">
                              <div class="post-preview-img-wrap">
                                <!-- POST PREVIEW IMG -->
                                <figure class="post-preview-img liquid">
                                  <img src="{{ news_list.image.url }}" alt="{{ news_list.title }}">
                                </figure>
                                <!-- /POST PREVIEW IMG -->

                                <!-- POST PREVIEW OVERLAY -->
                                <div class="post-preview-overlay">
                                  <!-- TAG ORNAMENT -->
                                  <span class="tag-ornament">{{ news_list.category }}</span>
                                  <!-- /TAG ORNAMENT -->

                                  <!-- POST PREVIEW TITLE -->
                                  <p class="post-preview-title">{{ news_list.title|truncatechars:100 }}</p>
                                  <!-- POST PREVIEW TEXT -->
                                  <p class="post-preview-text">{{ news_list.description|truncatechars:120 }}</p>
                                </div>
                                <!-- /POST PREVIEW OVERLAY -->

                                <!-- LOADING LINE -->
                                <div class="loading-line"></div>
                                <!-- /LOADING LINE -->
                              </div>
                            </a>
                            <!-- /POST PREVIEW IMG WRAP -->
                          </div>
                          <!-- /POST PREVIEW -->
                          {% endfor %}
                        </div>
                        <!-- /NEWS PREVIEW -->

                        <!-- NEWS ROSTER -->
                        <div class="news-roster slider-roster">
                          {% for news_list in news_lists|slice:":5" %}
                          <!-- POST PREVIEW -->
                          <div class="post-preview picture short geeky-news">
                            <!-- POST PREVIEW IMG WRAP -->
                            <div class="post-preview-img-wrap">
                              <!-- POST PREVIEW IMG -->
                              <figure class="post-preview-img liquid">
                                <img src="{{ news_list.image.url }}" alt="{{ news_list.title }}">
                              </figure>
                              <!-- /POST PREVIEW IMG -->

                              <!-- POST PREVIEW OVERLAY -->
                              <div class="post-preview-overlay">
                                <!-- POST PREVIEW TITLE -->
                                <p class="post-preview-title">{{ news_list.title }}</p>
                              </div>
                              <!-- /POST PREVIEW OVERLAY -->

                              <!-- TAG ORNAMENT -->
                              <span class="tag-ornament">{{ news_list.category }}</span>
                              <!-- /TAG ORNAMENT -->
                            </div>
                            <!-- /POST PREVIEW IMG WRAP -->

                            <!-- LOADING LINE -->
                            <div class="loading-line"></div>
                            <!-- /LOADING LINE -->

                            <!-- OVERLAY -->
                            <div class="overlay"></div>
                            <!-- /OVERLAY -->
                          </div>
                          <!-- /POST PREVIEW -->
                          {% endfor %}

                        </div>
                        <!-- /NEWS ROSTER -->
                      </div>

<br><br>
                      <div style="text-align: right;" class="layout-item layout-item-xs">
                        <!-- BUTTON -->
                        <a href="{% url 'news' %}">
                          <button class="button accent-color-bg cstm_fit_content mgn_left-41">
                            MORE NEWS
                            <!-- BUTTON ORNAMENT -->
                            <span class="button-ornament">
                              <!-- ARROW ICON -->
                              <svg class="arrow-icon medium">
                                <use xlink:href="#svg-arrow-medium"></use>
                              </svg>
                              <!-- /ARROW ICON -->

                              <!-- CROSS ICON -->
                              <svg class="cross-icon small">
                                <use xlink:href="#svg-cross-small"></use>
                              </svg>
                              <!-- /CROSS ICON -->
                            </span>
                            <!-- /BUTTON ORNAMENT -->
                          </button>
                        </a>
                          <!-- /BUTTON -->
                      </div>


                      <!-- POSTSLIDE -->

                      <!-- SLIDER CONTROLS -->
                      <div id="postslide-1-controls" class="slider-controls blue">
                        <!-- CONTROL PREVIOUS -->
                        <div class="slider-control big control-previous">
                            <!-- ARROW ICON -->
                            <svg class="arrow-icon medium">
                              <use xlink:href="#svg-arrow-medium"></use>
                            </svg>
                            <!-- /ARROW ICON -->
                        </div>
                        <!-- /CONTROL PREVIOUS -->

                        <!-- CONTROL NEXT -->
                        <div class="slider-control big control-next">
                            <!-- ARROW ICON -->
                            <svg class="arrow-icon medium">
                              <use xlink:href="#svg-arrow-medium"></use>
                            </svg>
                            <!-- /ARROW ICON -->
                        </div>
                        <!-- /CONTROL NEXT -->
                      </div>
                      <!-- /SLIDER CONTROLS -->
                    </div>
                    <!-- /POSTSLIDE WRAP -->
                  </div>
                  <!-- /LAYOUT ITEM -->



                    <div class="layout-item-2-1 display-flex mgn_top_10pc">
                      <div class="layout-item">
                          <!-- SECTION TITLE WRAP -->
                        <div class="section-title-wrap primary-color">
                          <h2 class="primary-color">ANALYSIS & OPINION</h2>
                          <div class="section-title-separator"></div>
                        </div>
                        <!-- /SECTION TITLE WRAP -->
                      </div>
                    </div>

                  
                    <!-- LAYOUT ITEM 1-1-1 -->
                    <div class="layout-item-1-1-1">
                      <!-- LAYOUT ITEM -->
                      {% for analysis in analysis_objects|slice:":3" %}
                      <div class="layout-item">
                        <!-- POST PREVIEW -->
                        <div class="post-preview gaming-news img-toggle">
                          <!-- POST PREVIEW IMG WRAP -->
                          <a href="{% url 'analysis_posts' analysis.pk %}">
                            <div class="post-preview-img-wrap">
                              <!-- POST PREVIEW IMG -->
                              <figure class="post-preview-img liquid">
                                <img src="{{ analysis.image.url }}" alt="{{ analysis.title }}">
                              </figure>
                              <!-- /POST PREVIEW IMG -->
                            </div>
                          </a>
                          <!-- /POST PREVIEW IMG WRAP -->

                          <!-- TAG ORNAMENT -->
                          <a href="#0" class="tag-ornament">{{ analysis.category }}</a>
                          <!-- /TAG ORNAMENT -->

                          <!-- POST PREVIEW TITLE -->
                          <a href="{% url 'analysis_posts' analysis.pk %}" class="post-preview-title">{{ analysis.title }}</a>
                          <!-- POST AUTHOR INFO -->
                          <div class="post-author-info-wrap">
                            <p class="post-author-info small light">By <a href="#0" class="post-author cstm-camel-case">{{ analysis.starter }}</a><span class="separator">|</span>{{ analysis.last_updated|naturaltime }}</p>
                          </div>
                          <!-- /POST AUTHOR INFO -->
                          <!-- POST PREVIEW TEXT -->
                          <p class="post-preview-text base-color">{{ analysis.description|truncatechars:200 }}.</p>
                        </div>
                        <!-- /POST PREVIEW -->
                      </div>
                      <!-- /LAYOUT ITEM -->
                      {% endfor %}
                    </div>

                    <div style="text-align: right;" class="layout-item">
                        <!-- BUTTON -->
                        <a href="{% url 'analysis' %}">
                          <button class="button accent-color-bg cstm_fit_content mgn_left-40">
                            MORE ANALYSIS
                            <!-- BUTTON ORNAMENT -->
                            <span class="button-ornament">
                              <!-- ARROW ICON -->
                              <svg class="arrow-icon medium">
                                <use xlink:href="#svg-arrow-medium"></use>
                              </svg>
                              <!-- /ARROW ICON -->

                              <!-- CROSS ICON -->
                              <svg class="cross-icon small">
                                <use xlink:href="#svg-cross-small"></use>
                              </svg>
                              <!-- /CROSS ICON -->
                            </span>
                            <!-- /BUTTON ORNAMENT -->
                          </button>
                        </a>
                          <!-- /BUTTON -->
                      </div>

                    <!-- /LAYOUT ITEM 1-1-1 -->


                  <div class="layout-item-2-1 display-flex mgn_top_10pc">
                      <div class="layout-item">
                          <!-- SECTION TITLE WRAP -->
                        <div class="section-title-wrap primary-color">
                          <h2 class="primary-color">ECONOMIC CALENDAR</h2>
                          <div class="section-title-separator"></div>
                        </div>
                        <!-- /SECTION TITLE WRAP -->
                      </div>
                    </div>

                  <!-- LAYOUT ITEM 1-1-1 -->
                  <div class="layout-item-1 padded">
                      <!-- Responsive table starts here -->

                      <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
                          {
                          "colorTheme": "light",
                          "isTransparent": false,
                          "width": "100%",
                          "height": "500",
                          "locale": "en",
                          "importanceFilter": "-1,0,1"
                        }
                          </script>
                        </div>
                      <!-- TradingView Widget END -->                 

                      <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
                      
                  </div>

                  <div style="text-align: right;" class="layout-item">
                        <!-- BUTTON -->
                        <a href="{% url 'economic_calendar' %}">
                          <button class="button accent-color-bg cstm_fit_content mgn_left-40">
                            MORE ANALYSIS
                            <!-- BUTTON ORNAMENT -->
                            <span class="button-ornament">
                              <!-- ARROW ICON -->
                              <svg class="arrow-icon medium">
                                <use xlink:href="#svg-arrow-medium"></use>
                              </svg>
                              <!-- /ARROW ICON -->

                              <!-- CROSS ICON -->
                              <svg class="cross-icon small">
                                <use xlink:href="#svg-cross-small"></use>
                              </svg>
                              <!-- /CROSS ICON -->
                            </span>
                            <!-- /BUTTON ORNAMENT -->
                          </button>
                        </a>
                          <!-- /BUTTON -->
                      </div>

                  <!-- /LAYOUT ITEM 1-1-1 -->



                  <!-- LAYOUT ITEM -->
                  <div class="layout-item padded">
                    <a target="_blank" href="https://portal1.scopemarkets.co.ke/en/auth/register?linkId=38RNnnIwI8">
                      <img class="wdth_100pc" src="{% static 'img/banners/scope_market/3.jpg' %}">
                      <!-- PROMO BANNER -->
                      <!-- <div class="promo-banner">
                        <h1 class="text-center clr-whte cstm-pd-tp-2">ADVERTISE</h1>
                      </div> -->
                      <!-- /PROMO BANNER -->
                    </a>
                  </div>
                  <!-- /LAYOUT ITEM -->

		
		  <div class="layout-item-2-1 mgn_top_10pc display-flex">
                      <div class="layout-item">
                          <!-- SECTION TITLE WRAP -->
                        <div class="section-title-wrap primary-color">
                          <h2 class="primary-color">FOREX HEAT MAP</h2>
                          <div class="section-title-separator"></div>
                        </div>
                        <!-- /SECTION TITLE WRAP -->
                      </div>

                      <div class="layout-item">
                        
                      </div>
                    </div>


                		  <!-- TradingView Widget BEGIN -->
                		<div class="tradingview-widget-container">
                		  <div class="tradingview-widget-container__widget"></div>
                		  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js" async>
                		  {
                		  "width": "100%",
                		  "height": "500",
                		  "currencies": [
                		    "EUR",
                		    "USD",
                		    "JPY",
                		    "GBP",
                		    "CHF",
                		    "AUD",
                		    "CAD",
                		    "NZD",
                		    "CNY",
                		    "TRY",
                		    "SEK",
                		    "NOK"
                		  ],
                		  "locale": "en"
                		}
                		  </script>
                		</div>
                		<!-- TradingView Widget END -->

                  <div class="layout-item-2-1 mgn_top_10pc display-flex">
                      <div class="layout-item">
                          <!-- SECTION TITLE WRAP -->
                        <div class="section-title-wrap primary-color">
                          <h2 class="primary-color">IN THE FORUMS</h2>
                          <div class="section-title-separator"></div>
                        </div>
                        <!-- /SECTION TITLE WRAP -->
                      </div>
                    </div>

                  <!-- LAYOUT ITEM -->
                  <div class="layout-item padded own-grid">

                      {% for topic in topic_lists|slice:":4" %}
                      {% if topic.posts.first %}
                      <!-- TOPIC WRAP -->
                <div class="topic-wrap">

                  <!-- TOPIC HEADER -->
                  <div class="topic-header">
                    <!-- TOPIC TITLE -->
                    <a href="{% url 'topic_posts' topic.category.pk topic.pk %}">
                      <p class="topic-title">{{ topic.subject }}</p>
                    </a>
                    <!-- /TOPIC TITLE -->

                    <!-- TAG ORNAMENT -->
                    <a href="{% url 'category_topics' topic.category.pk %}" class="tag-ornament">{{ topic.category }}</a>
                  <!-- /TAG ORNAMENT -->

                    
                  </div>
                  <!-- /TOPIC HEADER -->

                  <!-- TOPIC BODY -->
                  <div class="topic-body">
                    <!-- TOPIC COMMENT -->
                    <div class="topic-comment">
                      <!-- TOPIC COMMENT USER -->
                      <div class="topic-comment-user">

                        <!-- USER AVATAR -->
                        <a href="#0">
                          <img class="user-avatar medium" src="{% if topic.posts.first.created_by.userprofile.avatar %} {{ topic.posts.first.created_by.userprofile.avatar.url }} {% else %} {{ topic.posts.first.created_by|gravatar }} {% endif %}" alt="{{ topic.posts.first.created_by.username }}">
                        </a>
                        <!-- /USER AVATAR -->

                      </div>
                      <!-- /TOPIC COMMENT USER -->


                      <!-- TOPIC COMMENT CONTENT WRAP -->
                      <div class="topic-comment-content-wrap">
                        <!-- TOPIC COMMENT CONTENT -->
                        <div class="topic-comment-content">
                          <!-- TOPIC COMMENT CONTENT HEADER -->
                          <div class="topic-comment-content-header">
                            <!-- TOPIC COMMENT USERNAME -->
                            <a href="#0" class="topic-comment-username">{{ topic.posts.first.created_by }}</a>
                            <!-- /TOPIC COMMENT USERNAME -->

                            <!-- TOPIC COMMENT INFO -->
                            <div class="topic-comment-info">
                              <!-- TOPIC COMMENT TIMESTAMP -->
                              <p class="topic-comment-timestamp">{{ topic.posts.first.last_updated|naturaltime }}</p>
                              <!-- /TOPIC COMMENT TIMESTAMP -->
                            </div>
                            <!-- /TOPIC COMMENT INFO -->
                          </div>
                          <!-- /TOPIC COMMENT CONTENT HEADER -->

                          <!-- TOPIC COMMENT TEXT -->
                          <p class="topic-comment-text">
                            {{ topic.posts.first.message|truncatechars:400 }}
                          </p>
                          <!-- /TOPIC COMMENT TEXT -->

                        </div>
                        <!-- /TOPIC COMMENT CONTENT -->

                        <!-- TOPIC COMMENT ACTIONS -->
                        <div class="topic-comment-actions">
                          <!-- TOPIC ACTIONS -->
                          <div class="topic-actions">
                            <!-- TOPIC ACTION -->
                            <div class="topic-action">
                              <!-- TOPIC ACTION ICON -->
                              <div class="topic-action-icon tooltip bubble-ornament banana-icon">
                                <span class="tooltiptext">Give a banana</span>
                              </div>
                              <!-- /TOPIC ACTION ICON -->
                    
                              <!-- TOPIC ACTION TEXT -->
                              <p class="topic-action-text">0</p>
                              <!-- /TOPIC ACTION TEXT -->
                            </div>
                            <!-- /TOPIC ACTION -->

                            <!-- TOPIC ACTION -->
                            <div class="topic-action">
                              <!-- TOPIC ACTION ICON -->
                              <div class="topic-action-icon tooltip bubble-ornament poop-icon">
                                <span class="tooltiptext">Throw s*#t</span>
                              </div>
                              <!-- /TOPIC ACTION ICON -->
                    
                              <!-- TOPIC ACTION TEXT -->
                              <p class="topic-action-text">0</p>
                              <!-- /TOPIC ACTION TEXT -->
                            </div>
                            <!-- /TOPIC ACTION -->
                          </div>
                          <!-- /TOPIC ACTIONS -->

                          <!-- TOPIC ACTIONS -->
                          <div class="topic-actions">
                            <!-- TOPIC ACTION -->
                            <div class="topic-action inverted">
                              <!-- TOPIC ACTION ICON -->
                              <a href="{% url 'topic_posts' topic.category.pk topic.pk %}">
                                <div class="topic-action-icon tooltip bubble-ornament reply-icon">
                                 <span class="tooltiptext">Send a reply</span>
                                </div>
                              </a>
                              <!-- /TOPIC ACTION ICON -->

                              <!-- TOPIC ACTION TEXT -->
                              <p style="margin-left: 6px;" class="topic-action-text"> {{ topic.posts.count }} replies</p>
                              <!-- /TOPIC ACTION TEXT -->
                    
                            </div>
                            <!-- /TOPIC ACTION -->
                            
                            <!-- TOPIC ACTION -->
                            <div class="topic-action">
                              <!-- TOPIC ACTION ICON -->
                              <div class="topic-action-icon tooltip bubble-ornament share-icon">
                                <span class="tooltiptext">Share post</span>
                              </div>
                              <!-- /TOPIC ACTION ICON -->
                            </div>
                            <!-- /TOPIC ACTION -->

                            <!-- TOPIC ACTION -->
                            <div class="topic-action">
                              <!-- TOPIC ACTION ICON -->
                              <div class="topic-action-icon bubble-ornament tooltip report-icon">
                                <span class="tooltiptext">Report</span>
                              </div>
                              <!-- /TOPIC ACTION ICON -->
                            </div>
                            <!-- /TOPIC ACTION -->
                          </div>
                          <!-- /TOPIC ACTIONS -->
                        </div>
                        <!-- /TOPIC COMMENT ACTIONS -->
                      </div>
                      <!-- /TOPIC COMMENT CONTENT WRAP -->


                    </div>
                    <!-- /TOPIC COMMENT -->
                  </div>
                </div>
                <br>
                {% endif %}
                {%  endfor %}
                     
                  <br>
                
                  </div>
                  <!-- /LAYOUT ITEM -->

                  <div style="text-align: right;" class="layout-item">
                        <!-- BUTTON -->
                        <a href="{% url 'forum' %}">
                          <button class="button accent-color-bg cstm_fit_content">
                            GO TO FORUM
                            <!-- BUTTON ORNAMENT -->
                            <span class="button-ornament">
                              <!-- ARROW ICON -->
                              <svg class="arrow-icon medium">
                                <use xlink:href="#svg-arrow-medium"></use>
                              </svg>
                              <!-- /ARROW ICON -->

                              <!-- CROSS ICON -->
                              <svg class="cross-icon small">
                                <use xlink:href="#svg-cross-small"></use>
                              </svg>
                              <!-- /CROSS ICON -->
                            </span>
                            <!-- /BUTTON ORNAMENT -->
                          </button>
                        </a>
                          <!-- /BUTTON -->
                      </div>

          </div>
          <!-- /LAYOUT ITEM -->

        </div>
        <!-- /LAYOUT BODY -->

        <!-- LAYOUT SIDEBAR -->
        <div class="layout-sidebar layout-item gutter-medium">
          <!-- WIDGET SIDEBAR -->
          <div class="widget-sidebar">

	    <p class="sidebar-headers">Market Overview</p>

            <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                {
                "colorTheme": "light",
                "dateRange": "12m",
                "showChart": true,
                "locale": "en",
                "largeChartUrl": "",
                "isTransparent": false,
                "width": "300",
                "height": "500",
                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                "gridLineColor": "rgba(233, 233, 234, 1)",
                "scaleFontColor": "rgba(120, 123, 134, 1)",
                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                "tabs": [
                  {
                    "title": "Indices",
                    "symbols": [
                      {
                        "s": "OANDA:SPX500USD",
                        "d": "S&P 500"
                      },
                      {
                        "s": "OANDA:NAS100USD",
                        "d": "Nasdaq 100"
                      },
                      {
                        "s": "FOREXCOM:DJI",
                        "d": "Dow 30"
                      },
                      {
                        "s": "INDEX:NKY",
                        "d": "Nikkei 225"
                      },
                      {
                        "s": "INDEX:DEU30",
                        "d": "DAX Index"
                      },
                      {
                        "s": "OANDA:UK100GBP",
                        "d": "FTSE 100"
                      }
                    ],
                    "originalTitle": "Indices"
                  },
                  {
                    "title": "Commodities",
                    "symbols": [
                      {
                        "s": "CME_MINI:ES1!",
                        "d": "E-Mini S&P"
                      },
                      {
                        "s": "CME:6E1!",
                        "d": "Euro"
                      },
                      {
                        "s": "COMEX:GC1!",
                        "d": "Gold"
                      },
                      {
                        "s": "NYMEX:CL1!",
                        "d": "Crude Oil"
                      },
                      {
                        "s": "NYMEX:NG1!",
                        "d": "Natural Gas"
                      },
                      {
                        "s": "CBOT:ZC1!",
                        "d": "Corn"
                      }
                    ],
                    "originalTitle": "Commodities"
                  },
                  {
                    "title": "Bonds",
                    "symbols": [
                      {
                        "s": "CME:GE1!",
                        "d": "Eurodollar"
                      },
                      {
                        "s": "CBOT:ZB1!",
                        "d": "T-Bond"
                      },
                      {
                        "s": "CBOT:UB1!",
                        "d": "Ultra T-Bond"
                      },
                      {
                        "s": "EUREX:FGBL1!",
                        "d": "Euro Bund"
                      },
                      {
                        "s": "EUREX:FBTP1!",
                        "d": "Euro BTP"
                      },
                      {
                        "s": "EUREX:FGBM1!",
                        "d": "Euro BOBL"
                      }
                    ],
                    "originalTitle": "Bonds"
                  },
                  {
                    "title": "Forex",
                    "symbols": [
                      {
                        "s": "FX:EURUSD"
                      },
                      {
                        "s": "FX:GBPUSD"
                      },
                      {
                        "s": "FX:USDJPY"
                      },
                      {
                        "s": "FX:USDCHF"
                      },
                      {
                        "s": "FX:AUDUSD"
                      },
                      {
                        "s": "FX:USDCAD"
                      }
                    ],
                    "originalTitle": "Forex"
                  }
                ]
              }
                </script>
              </div>
              <!-- TradingView Widget END -->

              <!-- LAYOUT ITEM -->
                  <div class="layout-item padded">
                    <a target="_blank" href="https://portal1.scopemarkets.co.ke/en/auth/register?linkId=38RNnnIwI8">
                      <img class="wdth_100pc" src="{% static 'img/banners/scope_market/2.png' %}">
                      <!-- PROMO BANNER -->
                      <!-- <div class="promo-banner">
                        <h2 class="clr-whte text-center mt--2 cstm-pd-tp">Advertise Here</h2>
                      </div> -->
                      <!-- /PROMO BANNER -->
                    </a>
                  </div>
                  <!-- /LAYOUT ITEM -->

<br><br>

              <!--START-TRADING BUTTON -->

              	<p class="text-center"><a href="https://portal1.scopemarkets.co.ke/en/auth/register?linkId=38RNnnIwI8" target="_blank" class="start-trading-btn">START TRADING</a></p>

              <!-- /START-TRADING BUTTON -->

<br><br><br>


              <!-- LAYOUT ITEM -->
                  <div class="layout-item padded">
                    <a target="_blank" href="https://portal1.scopemarkets.co.ke/en/auth/register?linkId=38RNnnIwI8">
                      <!-- PROMO BANNER -->
                      <img class="wdth_100pc" src="{% static 'img/banners/scope_market/1.png' %}">
                      <!-- <div class="promo-banner">
                        <h2 class="clr-whte text-center mt--2 cstm-pd-tp">Advertise Here</h2>
                      </div> -->
                      <!-- /PROMO BANNER -->
                    </a>
                  </div>
                  <!-- /LAYOUT ITEM -->
            
          <!-- /WIDGET SIDEBAR -->
        </div>
        <!-- /LAYOUT SIDEBAR -->
      </div>
      <!-- /LAYOUT CONTENT 1 -->
    </div>


    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"7f15ef3827d4dcafe31728371","lid":"541b4ddefd","uniqueMethods":true}) })
    </script>

  <script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function doPref(postID, value) {
      var url = '/api/forum/posts/' + postID + '/preference/';
      var payload = {value: value};
      var headers = {
        'X-CSRFToken': getCookie('csrftoken'),
        'Content-Type': 'application/json'
      };

      fetch(url, {
        method: 'post',
        headers: headers,
        body: JSON.stringify(payload)
      }).then(function(resp) {
        return resp.json();
      }).then(function(data){
        updatePreferences(data, postID);
      })
    }

    function doLike(e, postID) {
      e.preventDefault();
      doPref(postID, 1);
    }

    function doDislike(e, postID) {
      e.preventDefault();
      doPref(postID, -1);
    }

    function updatePreferences(payload, postID) {
      var base = '#post-' + postID + '-';
      $(base + 'like').text(payload['likes']);
      $(base + 'dislike').text(payload['dislikes']);
    }

    function getPref(postID) {
      var url = '/api/forum/posts/' + postID + '/preference/';
      fetch(url).then(function(resp) { return resp.json() })
      .then(function(data) { updatePreferences(data, postID)} );
    }

    document.addEventListener('DOMContentLoaded', function() {

        $('#posts').val().split(',').forEach(function(i) { getPref(i)});
    })
  </script>

{% endblock content_home %}

