{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Acaciax | News{% endblock %}

{% block content_news_posts %}
  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
  <!-- BANNER -->
  <div class="banner grid-limit cstm-width-50">

  <!-- TAG ORNAMENT -->
    <a href="news-v2.html" class="tag-ornament cstm-bg-yellow">STOCK MARKETS</a>
  <!-- /TAG ORNAMENT -->

  <h2 class="banner-title pad-tp_btm text-left">{{ news_article.title }}</h2>
  <!-- POST AUTHOR INFO -->
      <div class="post-author-info-wrap">
        <!-- USER AVATAR -->
        <a href="search-results.html">
          <figure class="user-avatar tiny liquid">
            <img src="{% static 'img/users/04.jpg' %}" alt="user-04">
          </figure>
        </a>
        {% for news_post in news_article.news_posts.all|slice:":1" %}
        <!-- /USER AVATAR -->
        <p class="post-author-info small light">By <a href="search-results.html" class="post-author cstm-camel-case clr-whte">{{ news_article.starter }}</a><span class="separator">|</span>{{ news_article.last_updated|naturaltime }}<span class="separator">|</span><a href="post-v2.html#op-comments" class="post-comment-count clr-whte">{{ news_post.created_by.news_posts.count }} Comment(s)</a></p>
        {% endfor %}
      </div>
      <br>
      <!-- /POST AUTHOR INFO -->
      <div class="layout-item-2-1">
        <div class="layout-item cstm-no-grid">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/facebook_icon.png' %}">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/instagram_icon.png' %}">
          <img class="icon-cstm-width" src="{% static 'img/acaciax/twitter_icon.png' %}">
        </div>

        <div class="layout-item">
          
        </div>
      </div>
  </div>
  <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->


  <!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-full grid-limit cstm-width-700">
  <!-- FAQ ITEMS -->
  <div class="faq-items">
  <!-- FAQ ITEM -->
  <div class="faq-item no-border">
    <div class="cstm-post-title">
      <div class="post_section">
      <div class="posts_header_text">
        <h1>{{ news_article.title }}</h1>
      </div>
      <div class="posts_text cstm-width-80">
        <p>{{ news_article.description }}</p>
      </div>
    </div>
    </div>
    <!-- FAQ ITEM CONTENT -->
    <div class="faq-item-content">
      <!-- FAQ ITEM IMG -->
      <img class="faq-item-img cstm-post-img-width" src="{{ news_article.image.url }}" alt="faq-img-01">
      <!-- /FAQ ITEM IMG -->

      
    </div>
    <!-- /FAQ ITEM CONTENT -->
  </div>
  <!-- /FAQ ITEM -->

  <!-- FAQ ITEM -->
  <div class="faq-item">

    <!-- FAQ ITEM CONTENT -->
    <div class="faq-item-content accordion-open">

      <button class="plain-btn-3">STOCKS</button>
      <button class="plain-btn-3">MARKETS</button>
      <button class="plain-btn-3">COMMODITIES</button>

    </div>
    <!-- /FAQ ITEM CONTENT -->
  </div>
  <!-- /FAQ ITEM -->

  <!-- POST ITEM SHARE-->
  <div class="faq-item no-border">

      <div class="cstm-post-title">
        <div class="post_section">
          
            <h3 class="pad-tp_btm_post">Share with your friends</h3>
          
          <div class="posts_social-icons cstm-width-80">
            <div class="layout-item-2-1">
              <div class="layout-item cstm-no-grid">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/facebook_icon.png' %}">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/instagram_icon.png' %}">
                <img class="icon-cstm-width" src="{% static 'img/acaciax/twitter_icon.png' %}">
              </div>
              <br><br>
              <div class="layout-item">
                
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--  POST ITEM SHARE-->
  <div class="activity-items">

      {% for news_post in news_article.news_posts.all %}
      <!-- ACTIVITY ITEM -->
      <div class="activity-item">
        <!-- USER AVATAR -->
        <img class="user-avatar" src="{% static 'img/users/05.jpg' %}" alt="user-05">
        <!-- /USER AVATAR -->

        <!-- ACTIVITY ITEM DROPDOWN BUTTON -->
        <div class="activity-item-dropdown-button">
          <!-- ARROW ICON -->
          <svg class="arrow-icon medium">
            <use xlink:href="#svg-arrow-medium"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
        <!-- /ACTIVITY ITEM DROPDOWN BUTTON -->

        <!-- ACTIVITY ITEM ROW -->
        <div class="activity-item-row">
          <!-- ACTIVITY ITEM TITLE -->
          <a href="topic.html" class="activity-item-title secondary-color">{{ news_post.created_by }}</a>
          <!-- /ACTIVITY ITEM TITLE -->

          <!-- ACTIVITY ITEM TIMESTAMP -->
          <p class="activity-item-timestamp">{{ news_post.created_at|naturaltime }}</p>
          <!-- /ACTIVITY ITEM TIMESTAMP -->
        </div>
        <!-- /ACTIVITY ITEM ROW -->

        <!-- ACTIVITY ITEM TEXT -->
        <p class="activity-item-text base-color">{{ news_post.message }}</p>
        <!-- /ACTIVITY ITEM TEXT -->

        {% if news_post.created_by == user %}
            <div class="mt-3">
              <a href="#"
                 class="btn btn-primary btn-sm"
                 role="button">Edit
               </a>
            </div>
        {% endif %}

      </div>
      {% endfor %}
      <!-- /ACTIVITY ITEM -->
      
    </div>

  </div>
  <!-- /FAQ ITEMS -->
  </div>
  <!-- /LAYOUT CONTENT FULL -->

  <div class="layout-content-full grid-limit grid3-1col centered">
  <div class="layout-item-2-1 mgn_top_10pc">
      <div class="layout-item">
          <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap light-gray">
          <h2 class="">ANALYSIS AND OPINION</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->
      </div>

      <div class="layout-item">
        <!-- BUTTON -->
          <button class="button light-gray cstm_fit_content mgn_left-40">
            MORE ANALYSIS
            <!-- BUTTON ORNAMENT -->
            <span class="button-ornament">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->

              <!-- CROSS ICON -->
              <svg class="cross-icon small">
                <use xlink:href="#svg-cross-small"></use>
              </svg>
              <!-- /CROSS ICON -->
            </span>
            <!-- /BUTTON ORNAMENT -->
          </button>
          <!-- /BUTTON -->
      </div>
    </div>
  {% include 'includes/analysis-app.html' %}
  </div>

  {% endblock content_news_posts %}