{% extends 'base.html' %}

{% load static %}

{% block title %}Acaciax | Profile Messages{% endblock %}

{% block content_profile_messages %}

  <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full grid-limit">
    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <!-- PROFILE USER -->
      <div class="profile-user">
        <!-- USER AVATAR -->
        <img class="user-avatar big" src="{% static 'img/users/05.jpg' %}" alt="user-05">
        <!-- /USER AVATAR -->

        <!-- PROFILE USER NAME -->
        <p class="profile-user-name">{{ user.username }}</p>
        <!-- /PROFILE USER NAME -->

        <!-- PROFILE USER INFO -->
        <p class="profile-user-info">2540 Posts</p>
        <!-- /PROFILE USER INFO -->

        <!-- BADGE LIST -->
        <div class="badge-list">
          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/legendary_user_small.png' %}" alt="legendary_user_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/user_level_02_small.png' %}" alt="user_level_02_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/liked_user_small.png' %}" alt="liked_user_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/master_reviewer_small.png' %}" alt="master_reviewer_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/caffeinated_small.png' %}" alt="caffeinated_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/super_forum_traveller_small.png' %}" alt="super_forum_traveller_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/ultra_powered_small.png' %}" alt="ultra_powered_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/super_writer_small.png' %}" alt="super_writer_small">
          </a>
          <!-- /BADGE IMG -->
        </div>
        <!-- /BADGE LIST -->
      </div>
      <!-- /PROFILE USER -->

      <!-- BUTTON -->
      <a href="#" class="button small cyan">Send Message</a>
      <!-- /BUTTON -->
    </div>
    <!-- /PROFILE HEADER -->

    <!-- TAB WRAP -->
    <div class="tab-wrap">
      <!-- TAB HEADER -->
      <div class="tab-header items-6">
        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_summary' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Summary</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_activity' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Activity</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_notifications' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Notifications</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <div class="tab-header-item blue selected">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Messages</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </div>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_badges' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Badges</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'my_account' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Settings</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->
      </div>
      <!-- /TAB HEADER -->

      <!-- TAB BODY -->
      <div class="tab-body">
        <!-- TAB ITEM -->
        <div class="tab-item spaced">
          <!-- LAYOUT CONTENT 4 -->
          <div class="layout-content-4 v2 layout-item-1-3">
            <!-- LAYOUT SIDEBAR -->
            <div class="layout-sidebar">
              <!-- DROPDOWN LIST -->
              <ul class="dropdown-list void centered">
                <!-- DROPDOWN LIST ITEM -->
                <li class="dropdown-list-item active">
                  <a href="#" class="dropdown-list-item-link">Inbox</a>
                </li>
                <!-- /DROPDOWN LIST ITEM -->
        
                <!-- DROPDOWN LIST ITEM -->
                <li class="dropdown-list-item">
                  <a href="#" class="dropdown-list-item-link">Sent</a>
                </li>
                <!-- /DROPDOWN LIST ITEM -->
        
                <!-- DROPDOWN LIST ITEM -->
                <li class="dropdown-list-item">
                  <a href="#" class="dropdown-list-item-link">Deleted</a>
                </li>
                <!-- /DROPDOWN LIST ITEM -->
        
                <!-- DROPDOWN LIST ITEM -->
                <li class="dropdown-list-item">
                  <a href="#" class="dropdown-list-item-link">Archive</a>
                </li>
                <!-- /DROPDOWN LIST ITEM -->
              </ul>
              <!-- /DROPDOWN LIST -->
            </div>
            <!-- /LAYOUT SIDEBAR -->

            <!-- LAYOUT BODY -->
            <div class="layout-body">
              <!-- PROFILE MESSAGES ACTIONS -->
              <div class="profile-messages-actions">
                <!-- ACTION WRAP -->
                <div class="action-wrap">
                  <!-- BUTTON -->
                  <a href="#" class="button small blue">Select All</a>
                  <!-- /BUTTON -->
                </div>
                <!-- /ACTION WRAP -->

                <!-- ACTION WRAP -->
                <div class="action-wrap">
                  <!-- BUTTON -->
                  <a href="#" class="button small red">Delete</a>
                  <!-- /BUTTON -->

                  <!-- BUTTON -->
                  <a href="#" class="button small black">Archive</a>
                  <!-- /BUTTON -->
                </div>
                <!-- /ACTION WRAP -->
              </div>
              <!-- /PROFILE MESSAGES ACTIONS -->

              <!-- TABLE -->
              <div class="table forum-messages">
                <!-- TABLE ROW HEADER -->
                <div class="table-row-header">
                  <!-- TABLE ROW HEADER ITEM -->
                  <div class="table-row-header-item left">
                    <p class="table-row-header-title">Topic</p>
                  </div>
                  <!-- /TABLE ROW HEADER ITEM -->
          
                  <!-- TABLE ROW HEADER ITEM -->
                  <div class="table-row-header-item left padded-big">
                    <p class="table-row-header-title">Users</p>
                  </div>
                  <!-- /TABLE ROW HEADER ITEM -->
          
                  <!-- TABLE ROW HEADER ITEM -->
                  <div class="table-row-header-item padded-big">
                    <p class="table-row-header-title">Replies</p>
                  </div>
                  <!-- /TABLE ROW HEADER ITEM -->
          
                  <!-- TABLE ROW HEADER ITEM -->
                  <div class="table-row-header-item padded-big">
                    <p class="table-row-header-title">Views</p>
                  </div>
                  <!-- /TABLE ROW HEADER ITEM -->
          
                  <!-- TABLE ROW HEADER ITEM -->
                  <div class="table-row-header-item padded-big">
                    <p class="table-row-header-title">Activity</p>
                  </div>
                  <!-- /TABLE ROW HEADER ITEM -->
                </div>
                <!-- /TABLE ROW HEADER -->
          
                <!-- TABLE ROWS -->
                <div class="table-rows">
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-01" name="message-01" value="message-01-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-01" class="rl-label">Inquiry about the forum rules</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/01.jpg" alt="user-01">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">4</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">15</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">5M</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-02" name="message-02" value="message-02-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-02" class="rl-label">Hi Vellatrix! I'm James_Spiegel from Comixcon</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/04.jpg" alt="user-04">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">15</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">82</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">1D</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-03" name="message-03" value="message-03-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-03" class="rl-label">Guys, you are both invited to the party!</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/09.jpg" alt="user-09">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/07.jpg" alt="user-07">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">29</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">240</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">3D</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-04" name="message-04" value="message-04-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-04" class="rl-label">How do i become a moderator for the forums?</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/01.jpg" alt="user-01">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">2</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">8</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">4D</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-05" name="message-05" value="message-05-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-05" class="rl-label">Hey James, can you do me a favor?</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/02.jpg" alt="user-02">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">7</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">22</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">5D</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-06" name="message-06" value="message-06-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-06" class="rl-label">I have a doubt about the badges</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/01.jpg" alt="user-01">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">3</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">4</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">1W</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-07" name="message-07" value="message-07-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-07" class="rl-label">Hi James, i saw you at Comixcon in your cosplay</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/13.jpg" alt="user-13">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">18</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">90</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">1W</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
          
                  <!-- TABLE ROW -->
                  <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <!-- CHECKBOX ITEM -->
                      <div class="checkbox-item">
                        <input type="checkbox" id="message-08" name="message-08" value="message-08-selected">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box blue">
                          <!-- CROSS ICON -->
                          <svg class="cross-cb-icon small">
                            <use xlink:href="#svg-cross-cb-small"></use>
                          </svg>
                          <!-- /CROSS ICON -->
                        </div>
                        <!-- CHECKBOX BOX -->
                        <label for="message-08" class="rl-label">I have a question about the contest</label>
                      </div>
                      <!-- /CHECKBOX ITEM -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item padded-big">
                      <!-- FORUM USER LIST -->
                      <div class="forum-user-list">
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/05.jpg" alt="user-05">
                          <!-- /USER AVATAR -->
                        </a>
          
                        <a href="profile-summary.html">
                          <!-- USER AVATAR -->
                          <img class="user-avatar tiny" src="img/users/08.jpg" alt="user-08">
                          <!-- /USER AVATAR -->
                        </a>
                      </div>
                      <!-- /FORUM USER LIST -->
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold">9</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">57</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
          
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                      <p class="table-text bold light">1W</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                  </div>
                  <!-- /TABLE ROW -->
                </div>
                <!-- /TABLE ROWS -->
              </div>
              <!-- /TABLE -->

              <!-- PAGE NAVIGATION -->
              <div class="page-navigation blue right spaced">
                <!-- CONTROL PREVIOUS -->
                <div class="slider-control big control-previous">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                </div>
                <!-- /CONTROL PREVIOUS -->
                <a href="#" class="page-navigation-item">1</a>
                <a href="#" class="page-navigation-item active">2</a>
                <a href="#" class="page-navigation-item">3</a>
                <a href="#" class="page-navigation-item">...</a>
                <a href="#" class="page-navigation-item">8</a>
                <!-- CONTROL PREVIOUS -->
                <div class="slider-control big control-next">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                </div>
                <!-- /CONTROL PREVIOUS -->
              </div>
              <!-- /PAGE NAVIGATION -->
            </div>
            <!-- /LAYOUT BODY -->
          </div>
          <!-- /LAYOUT CONTENT 4 -->
        </div>
        <!-- /TAB ITEM -->
      </div>
      <!-- /TAB BODY -->
    </div>
    <!-- /TAB WRAP -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

  {% endblock content_profile_messages %}