{% extends 'base.html' %}

{% load static %}

{% block title %}Acaciax | Profile Badges{% endblock %}

{% block content_profile_badges %}

  <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full grid-limit">
    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <!-- PROFILE USER -->
      <div class="profile-user">
        <!-- USER AVATAR -->
        <img class="user-avatar big" src="{% static 'img/users/05.jpg' %}" alt="user-05">
        <!-- /USER AVATAR -->

        <!-- PROFILE USER NAME -->
        <p class="profile-user-name">{{ user.username }}</p>
        <!-- /PROFILE USER NAME -->

        <!-- PROFILE USER INFO -->
        <p class="profile-user-info">2540 Posts</p>
        <!-- /PROFILE USER INFO -->

        <!-- BADGE LIST -->
        <div class="badge-list">
          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/legendary_user_small.png' %}" alt="legendary_user_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/user_level_02_small.png' %}" alt="user_level_02_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/liked_user_small.png' %}" alt="liked_user_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/master_reviewer_small.png' %}" alt="master_reviewer_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/caffeinated_small.png' %}" alt="caffeinated_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/super_forum_traveller_small.png' %}" alt="super_forum_traveller_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/ultra_powered_small.png' %}" alt="ultra_powered_small">
          </a>
          <!-- /BADGE IMG -->

          <!-- BADGE IMG -->
          <a href="profile-badges.html">
            <img class="badge-img" src="{% static 'img/badges/super_writer_small.png' %}" alt="super_writer_small">
          </a>
          <!-- /BADGE IMG -->
        </div>
        <!-- /BADGE LIST -->
      </div>
      <!-- /PROFILE USER -->

      <!-- BUTTON -->
      <a href="#" class="button small cyan">Send Message</a>
      <!-- /BUTTON -->
    </div>
    <!-- /PROFILE HEADER -->

    <!-- TAB WRAP -->
    <div class="tab-wrap">
      <!-- TAB HEADER -->
      <div class="tab-header items-6">
        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_summary' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Summary</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_activity' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Activity</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_notifications' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Notifications</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_messages' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Messages</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <div class="tab-header-item blue selected">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Badges</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </div>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'my_account' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Settings</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->
      </div>
      <!-- /TAB HEADER -->

      <!-- TAB BODY -->
      <div class="tab-body">
        <!-- TAB ITEM -->
        <div class="tab-item spaced">
          <!-- GRID 4COL -->
          <div class="grid-4col gutter-big centered">
            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="{% static 'img/badges/novice_user_big.png' %}" alt="novice_user_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->
      
              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Novice User</p>
              <!-- /BADGE ITEM TITLE -->
      
              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user has more than 1 post across all the forum categories</p>
              <!-- /BADGE ITEM TEXT -->
      
              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-novice" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-novice-text"></span> posts</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG -->
              <img class="badge-img" src="{% static 'img/badges/intermediate_user_small.png' %}" alt="intermediate_user_small">
              <!-- /BADGE IMG -->

              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="{% static 'img/badges/intermediate_user_big.png' %}" alt="intermediate_user_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Intermediate User</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user has more than 100 posts across all the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-intermediate" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-intermediate-text"></span> posts</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG -->
              <img class="badge-img" src="{% static 'img/badges/expert_user_small.png' %}" alt="expert_user_small">
              <!-- /BADGE IMG -->

              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="{% static 'img/badges/expert_user_big.png' %}" alt="expert_user_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Expert User</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user has more than 500 posts across all the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-expert" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-expert-text"></span> posts</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG -->
              <img class="badge-img" src="{% static 'img/badges/legendary_user_small.png' %}" alt="legendary_user_small">
              <!-- /BADGE IMG -->

              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="{% static 'img/badges/legendary_user_big.png' %}" alt="legendary_user_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Legendary User</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user has more than 1K posts across all the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-legendary" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-legendary-text"></span> posts</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/pixel_staff_big.png" alt="pixel_staff_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Pixel Staff</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user is member of the Pixel Diamond staff team</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-staff" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-staff-text"></span></p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/forum_moderator_big.png" alt="forum_moderator_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Forum Moderator</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user is a moderator of all the Pixel Diamond forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-moderator" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-moderator-text"></span></p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/user_level_02_big.png" alt="user_level_02_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">User Level: 2</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Shows the number of years (levels) that the user has in the forums</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-level" class="progress-bar">
                  <p class="badge-info">Next Tier: <span id="badge-pgb-level-text"></span> Days</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/the_warrior_big.png" alt="the_warrior_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">The Warrior</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Helped the team fight to enforce the Pixel Forum rules</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-warrior" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-warrior-text"></span></p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/spoiler_bomber_big.png" alt="spoiler_bomber_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Spoiler Bomber</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Created more than 100 topics with the spoilers warning tag</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-spoiler" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-spoiler-text"></span> Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/super_writer_big.png" alt="super_writer_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Super Writer</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Wrote more than 50 topics across all the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-super-writer" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-super-writer-text"></span> Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/expert_writer_big.png" alt="expert_writer_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Expert Writer</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Wrote more than 200 topics across all the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-expert-writer" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-expert-writer-text"></span> Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/master_reviewer_big.png" alt="master_reviewer_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Master Reviewer</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Wrote more than 20 game reviews in the forums for the comunity</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-reviewer" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-reviewer-text"></span> Reviews</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/forum_phantom_big.png" alt="forum_phantom_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Forum Phantom</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user visited the forums but hasn’t posted anything in over a year</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-phantom" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-phantom-text"></span> Days</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/thunderstruck_big.png" alt="thunderstruck_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Thunderstruck</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">This user commented first in more than 50 different posts</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-thunderstruck" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-thunderstruck-text"></span> Comments</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/forum_traveller_big.png" alt="forum_traveller_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Forum Traveller</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Created more than 10 topics in every one of the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-traveller" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-traveller-text"></span> Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/super_forum_traveller_big.png" alt="super_forum_traveller_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Super Forum Traveller</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Created more than 20 topics in every one of the forum categories</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-super-traveller" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-super-traveller-text"></span> Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/liked_user_big.png" alt="liked_user_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Liked User</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user received more than 200 thumbs up across the forums</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-liked" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-liked-text"></span> Thumbs Up</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/super_liked_user_big.png" alt="super_liked_user_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Super Liked User</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user received more than 500 thumbs up across the forums</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-super-liked" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-super-liked-text"></span> Thumbs Up</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/ultra_powered_big.png" alt="ultra_powered_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Ultra Powered</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Received 40 or more thumbs up in less than 10 minutes</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-ultra-powered" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-ultra-powered-text"></span> Thumbs Up</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/contest_winner_big.png" alt="contest_winner_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Contest Winner</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">Won a community contest organized by the Pixel Diamond staff</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-contest-winner" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-contest-winner-text"></span></p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/collaborator_big.png" alt="collaborator_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Collaborator</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user colaborated writing a news article for the Pixel Diamond site</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-collaborator" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-collaborator-text"></span></p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/caffeinated_big.png" alt="caffeinated_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Caffeinated</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user made more than 100 posts or topics from 11pm to 6am</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-caffeinated" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-caffeinated-text"></span> Posts / Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/ultra_caffeinated_big.png" alt="ultra_caffeinated_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Ultra Caffeinated</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user made more than 200 posts or topics from 11pm to 6am</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-ultra-caffeinated" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-ultra-caffeinated-text"></span> Posts / Topics</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->

            <!-- BADGE ITEM -->
            <div class="badge-item hoverable">
              <!-- BADGE IMG WRAP -->
              <div class="badge-img-wrap">
                <!-- BADGE IMG -->
                <img class="badge-img locked" src="img/badges/locked_badge.png" alt="locked_badge">
                <!-- /BADGE IMG -->

                <!-- BADGE IMG -->
                <img class="badge-img unlocked" src="img/badges/forum_villain_big.png" alt="forum_villain_big">
                <!-- /BADGE IMG -->
              </div>
              <!-- /BADGE IMG WRAP -->

              <!-- BADGE ITEM TITLE -->
              <p class="badge-item-title">Forum Villain</p>
              <!-- /BADGE ITEM TITLE -->

              <!-- BADGE ITEM TEXT -->
              <p class="badge-item-text">The user received more than 500 thumbs down across the forums</p>
              <!-- /BADGE ITEM TEXT -->

              <!-- PROGRESS BADGE WRAP -->
              <div class="progress-badge-wrap">
                <div id="badge-pgb-villain" class="progress-bar">
                  <p class="badge-info">To Unlock: <span id="badge-pgb-villain-text"></span> Thumbs Down</p>
                </div>
              </div>
              <!-- /PROGRESS BADGE WRAP -->
            </div>
            <!-- /BADGE ITEM -->
          </div>
          <!-- /GRID 4COL -->
        </div>
        <!-- /TAB ITEM -->
      </div>
      <!-- /TAB BODY -->
    </div>
    <!-- /TAB WRAP -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

  {% endblock content_profile_badges %}