{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% load humanize %}

{% block title %}Acaciax | Profile Summary{% endblock %}

{% block content_profile_summary %}

  <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full grid-limit">
    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <!-- PROFILE USER -->
      <div class="profile-user">
        <!-- USER AVATAR -->
        <img class="user-avatar big" src="{% if user.userprofile.avatar %} {{ user.userprofile.avatar.url }} {% else %} {{ user|gravatar }} {% endif %}" alt="{{ user.username }}">
        <!-- /USER AVATAR -->

        <!-- PROFILE USER NAME -->
        <p class="profile-user-name">{{ user.username }}</p>
        <!-- /PROFILE USER NAME -->

        <!-- PROFILE USER INFO -->
        <p class="profile-user-info">{{ user.posts.count }} Posts</p>
        <!-- /PROFILE USER INFO -->

        <!-- BADGES GO HERE -->
        <!-- BADGES GO HERE -->

      </div>
      <!-- /PROFILE USER -->

      <!-- BUTTON -->
      <a href="#0" class="button small cyan">Send Message</a>
      <!-- /BUTTON -->
    </div>
    <!-- /PROFILE HEADER -->

    <!-- TAB WRAP -->
    <div class="tab-wrap">
      <!-- TAB HEADER -->
      <div class="tab-header items-6">
        <!-- TAB HEADER ITEM -->
        <div class="tab-header-item blue selected">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Summary</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </div>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_activity' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Activity</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_notifications' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Notifications</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_messages' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Messages</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_badges' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Badges</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'my_account' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Settings</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->
      </div>
      <!-- /TAB HEADER -->

      <!-- TAB BODY -->
      <div class="tab-body">
        <!-- TAB ITEM -->
        <div class="tab-item spaced">
          <!-- LAYOUT ITEM -->
          <div class="layout-item gutter-big">
            <!-- WIDGET ITEM -->
            <div class="widget-item">
              <!-- SECTION TITLE WRAP -->
              <div class="section-title-wrap blue no-space">
                <h2 class="section-title medium">Overall Stats</h2>
                <div class="section-title-separator"></div>
              </div>
              <!-- /SECTION TITLE WRAP -->

              <!-- WIDGET DISPLAY -->
              <div class="widget-display multiple-items spaced-items medium">
                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">{{ user.date_joined|date:"M d, Y" }}</p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Joined</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">{{ user.topics.count }}</p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Topics</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">{{ user.posts.count }}</p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Posts</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">{{ user.posts.last.created_at|naturaltime }}</p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Last Post</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">
                    0
                    <i class="icon-like like-icon"></i>
                  </p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Given</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">
                    0
                    <i class="icon-like like-icon"></i>
                  </p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Received</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">
                    0
                    <i class="icon-dislike dislike-icon"></i>
                  </p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Given</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                <!-- FEATURED STAT WRAP -->
                <div class="featured-stat-wrap medium">
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">
                    0
                    <i class="icon-dislike dislike-icon"></i>
                  </p>
                  <!-- /FEATURED STAT TITLE -->

                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Received</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT WRAP -->

                
              </div>
              <!-- /WIDGET DISPLAY -->
            </div>
            <!-- /WIDGET ITEM -->

            <!-- GRID2 2COL -->
            <div class="grid2-2col full centered gutter-big">
              <!-- WIDGET ITEM -->
              <div class="widget-item">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                  <h2 class="section-title medium">Top Replies</h2>
                  <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->

                <h3 style="color: red;">No data yet</h3>
              </div>
              <!-- /WIDGET ITEM -->

              <!-- WIDGET ITEM -->
              <div class="widget-item">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                  <h2 class="section-title medium">Top Topics</h2>
                  <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->

                <h3 style="color: red;">No data yet</h3>
              </div>
              <!-- /WIDGET ITEM -->

              <!-- WIDGET ITEM -->
              <div class="widget-item">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                  <h2 class="section-title medium">Least Liked Posts</h2>
                  <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->

                <h3 style="color: red;">No data yet</h3>
              </div>
              <!-- /WIDGET ITEM -->

              <!-- WIDGET ITEM -->
              <div class="widget-item">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                  <h2 class="section-title medium">Most Replied To</h2>
                  <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->

                <h3 style="color: red;">No data yet</h3>
              </div>
              <!-- /WIDGET ITEM -->

              <!-- WIDGET ITEM -->
              <div class="widget-item">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                  <h2 class="section-title medium">Most Liked By</h2>
                  <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->

                <h3 style="color: red;">No data yet</h3>
              </div>
              <!-- /WIDGET ITEM -->

              <!-- WIDGET ITEM -->
              <div class="widget-item">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                  <h2 class="section-title medium">Most Liked</h2>
                  <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->

                <h3 style="color: red;">No data yet</h3>
              </div>
              <!-- /WIDGET ITEM -->
            </div>
            <!-- /GRID2 2COL -->
          </div>
          <!-- /LAYOUT ITEM -->
        </div>
        <!-- /TAB ITEM -->
      </div>
      <!-- /TAB BODY -->
    </div>
    <!-- /TAB WRAP -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

  {% endblock content_profile_summary %}