{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% load humanize %}

{% block title %}Acaciax | Reply to Article Comment{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({forceSync: true});
  </script>
{% endblock %}

{% block content_reply_analysis_post %}

  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
    <!-- BANNER -->
    <div class="banner grid-limit cstm-width-60">
      <h2 class="banner-title text-left">Reply to analysis comment</h2>
    </div>
    <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->

    <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full grid-limit">
    <!-- GRID 2 1COL -->
    <div class="grid3-1col centered">

      <!-- POST COMMENT THREAD -->
      <div id="op-comments" class="post-comment-thread">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap blue">
          <h2 class="section-title medium">Comment preview</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- POST COMMENT -->
        <div class="post-comment">
          <!-- USER AVATAR -->
          <figure class="user-avatar medium">
            <img src="{% if analysis_post.created_by.userprofile.avatar %} {{ analysis_post.created_by.userprofile.avatar.url }} {% else %} {{ analysis_post.created_by|gravatar }} {% endif %}" alt="{{ analysis_post.created_by.username }}">
          </figure>
          <!-- /USER AVATAR -->

          <!-- POST COMMENT USERNAME -->
          <p class="post-comment-username">{{ analysis_post.created_by }}</p>
          <!-- /POST COMMENT USERNAME -->

          <!-- POST COMMENT TIMESTAMP -->
          <p class="post-comment-timestamp">{{  analysis_post.created_at|naturaltime }}</p>
          <!-- /POST COMMENT TIMESTAMP -->

          <!-- REPORT BUTTON -->
          <a href="#" class="report-button">Report</a>
          <!-- /REPORT BUTTON -->

          <!-- POST COMMENT TEXT -->
          <p class="post-comment-text">{{ analysis_post.get_message_as_markdown }}</p>
          <!-- /POST COMMENT TEXT -->
<br><br>
          <!-- TOPIC COMMENT ACTIONS -->
            <div class="topic-comment-actions">
              <!-- TOPIC ACTIONS -->
              <div class="topic-actions">
                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                  <a href="#0">
                    <div class="topic-action-icon bubble-ornament tooltip banana-icon">
                      <span class="tooltiptext">Give a banana</span>
                    </div>
                    <span class="client-reaction">0</span>
                  </a>
                  <!-- /TOPIC ACTION ICON -->
                </div>
                <!-- /TOPIC ACTION -->

                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                 <a href="#0">
                    <div class="topic-action-icon bubble-ornament tooltip poop-icon">
                      <span class="tooltiptext">Throw s*#t</span>
                    </div>
                    <span class="client-reaction">0</span>
                 </a>
                  <!-- /TOPIC ACTION ICON -->
                </div>
                <!-- /TOPIC ACTION -->

                <!-- TOPIC ACTION -->
                <div style="margin-left: 10%;" class="topic-action inverted">
                  <!-- TOPIC ACTION ICON -->
                  <div class="topic-action-icon bubble-ornament tooltip reply-icon">
                    <span class="tooltiptext">reply to comment</span>
                  </div>
                  <!-- /TOPIC ACTION ICON -->
        
                  <!-- TOPIC ACTION TEXT -->
                  <p class="topic-action-text">{{ analysis_post.analysis_comments.count }}</p>
                  <!-- /TOPIC ACTION TEXT -->
                </div>
                <!-- /TOPIC ACTION -->

                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                  <div class="topic-action-icon bubble-ornament tooltip share-icon">
                    <span class="tooltiptext">share comment</span>
                  </div>
                  <!-- /TOPIC ACTION ICON -->
                </div>
                <!-- /TOPIC ACTION -->

              </div>
              <!-- /TOPIC ACTIONS -->

              <form id="likebutton" method="POST" action="posts/{{ post.topic.id}}/preference/1/">
                {% csrf_token %}
                <input type="hidden">
              </form>

              <form id="dislikebutton" method="POST" action="posts/{{ post.topic.id}}/preference/2/">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </div>
            <!-- /TOPIC COMMENT ACTIONS -->
        </div>
        <!-- /POST COMMENT -->
      </div>
      <!-- /POST COMMENT THREAD -->

      <!-- TAB WRAP -->
      <div id="tab-new-topic" class="tab-wrap">
        <!-- TAB BODY -->
        <div class="tab-body">
          <!-- TAB ITEM -->
          <div class="tab-item">
            <!-- FORM BOX -->
            <div class="form-box">
              <!-- SECTION TITLE WRAP -->
              <div class="section-title-wrap blue">
                <h2 class="section-title medium">Write a reply to this comment</h2>
                <div class="section-title-separator"></div>
              </div>
              <!-- /SECTION TITLE WRAP -->

              <!-- FORM WRAP -->
              <form method="post">
                {% csrf_token %}
                
                {% include 'includes/form.html' %}

                <button type="submit" class="button blue full">Post your reply</button>
              </form>
              <!-- /FORM WRAP -->
            </div>
            <!-- /FORM BOX -->
          </div>
          <!-- /TAB ITEM -->
        </div>
        <!-- /TAB BODY -->
      </div>
    </div>
    <!-- /GRID 2 1COL -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

{% endblock content_reply_analysis_post %}