{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Acaciax | Reply to News Posts{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({forceSync: true});
  </script>
{% endblock %}

{% block content_news_reply_article %}

  <!-- BANNER WRAP -->
  <div class="banner-wrap game-review">
    <!-- BANNER -->
    <div class="banner grid-limit cstm-width-60">
      <h2 class="banner-title text-left">{{ news_article.title }}</h2>
      <p class="banner-sections text-left">
        
        <a href="{% url 'home' %}"><span class="clr-whte banner-section">Home</span></a>

        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->

        <a href="{% url 'news' %}"><span class="clr-whte banner-section">News</span></a>

        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->
        <span class="banner-section">{{ news_article.title }}</span>

        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->
        <span class="banner-section"><strong>Reply to post</strong></span>
      </p>

    </div>
    <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->

    <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full grid-limit">
    <!-- GRID 2 1COL -->
    <div class="grid3-1col centered">
      <!-- TAB WRAP -->
      <div id="tab-new-topic" class="tab-wrap">
        <!-- TAB BODY -->
        <div class="tab-body">
          <!-- TAB ITEM -->
          <div class="tab-item">
            <!-- FORM BOX -->
            <div class="form-box">
              <!-- SECTION TITLE WRAP -->
              <div class="section-title-wrap blue">
                <h2 class="section-title medium">Reply to  post</h2>
                <div class="section-title-separator"></div>
              </div>
              <!-- /SECTION TITLE WRAP -->

              <!-- FORM WRAP -->
              <form method="post">
			    {% csrf_token %}
			    
			    {% include 'includes/form.html' %}

			    <button type="submit" class="button blue full">Post a reply</button>
			  </form>
              <!-- /FORM WRAP -->
            </div>
            <!-- /FORM BOX -->
          </div>
          <!-- /TAB ITEM -->
        </div>
        <!-- /TAB BODY -->
      </div>
      <!-- /TAB WRAP -->
      <div class="activity-items">
        {% for news_post in news_article.news_posts.all %}
        <!-- ACTIVITY ITEM -->
        <div class="activity-item">
          <!-- USER AVATAR -->
          <img class="user-avatar" src="{% if news_post.created_by.userprofile.avatar %} {{ news_post.created_by.userprofile.avatar.url }} {% else %} {{ news_post.created_by|gravatar }} {% endif %}" alt="{{ news_post.created_by }}">
          <!-- /USER AVATAR -->

          <!-- ACTIVITY ITEM DROPDOWN BUTTON -->
          <div class="activity-item-dropdown-button">
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->
          </div>
          <!-- /ACTIVITY ITEM DROPDOWN BUTTON -->

          <!-- ACTIVITY ITEM ROW -->
          <div class="activity-item-row">
            <!-- ACTIVITY ITEM TITLE -->
            <a href="topic.html" class="activity-item-title secondary-color">{{ news_post.created_by.username }}</a>
            <!-- /ACTIVITY ITEM TITLE -->

            <!-- ACTIVITY ITEM TIMESTAMP -->
            <p class="activity-item-timestamp">{{ news_post.created_at|naturaltime }}</p>
            <!-- /ACTIVITY ITEM TIMESTAMP -->
          </div>
          <!-- /ACTIVITY ITEM ROW -->

          <!-- ACTIVITY ITEM TEXT -->
          <p class="activity-item-text base-color">{{ news_post.message }}</p>
          <!-- /ACTIVITY ITEM TEXT -->
        </div>
        <!-- /ACTIVITY ITEM -->
        {% endfor %}
      </div>
    </div>
    <!-- /GRID 2 1COL -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

{% endblock content_news_reply_article %}