{% extends 'base.html' %}
{% load static %}

{% load gravatar %}

{% load humanize %}

{% block title %}Acaciax | Topic posts{% endblock %}

{% block content_topic_posts %}


  <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full layout-item grid-limit cstm-width-70 gutter-big">
    <!-- FILTERS ROW -->
    <div class="filters-row">
      <!-- DROPDOWN SIMPLE WRAP -->
      <div class="dropdown-simple-wrap">
        <!-- DP CURRENT OPTION -->
        <div id="filter-01-dropdown-trigger" class="dp-current-option">
          <!-- DP CURRENT OPTION VALUE -->
          <div id="filter-01-dropdown-option-value" class="dp-current-option-value">
            <p class="dp-option-text">All Categories</p>
          </div>
          <!-- /DP CURRENT OPTION VALUE -->

          <!-- ARROW ICON -->
          <svg class="arrow-icon">
            <use xlink:href="#svg-arrow"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
        <!-- /DP CURRENT OPTION -->

        <!-- DP OPTIONS -->
        <div id="filter-01-dropdown" class="dp-options small">
          {% for category in category_list %}
          <!-- DP OPTION -->
          <div class="dp-option">
            <p class="dp-option-text">{{ category.name }}</p>
          </div>
          <!-- /DP OPTION -->
          {% endfor %}
        </div>
        <!-- /DP OPTIONS -->
      </div>
      <!-- /DROPDOWN SIMPLE WRAP -->


      <!-- OPTION LIST -->
      <div class="option-list">
        <!-- OPTION LIST ITEM -->
        <p class="option-list-item selected">Latest Topics</p>
        <!-- /OPTION LIST ITEM -->

      </div>
      <!-- /OPTION LIST -->

      <!-- FORUM ACTIONS -->
      <div class="forum-actions">
        <!-- DROPDOWN SIMPLE WRAP -->
        <div class="dropdown-simple-wrap">
          <!-- CURRENT OPTION -->
          <div id="forums-search-dropdown-trigger" class="current-option">
            <!-- BUTTON -->
            <p class="button small red">Search Forums</p>
            <!-- /BUTTON -->
          </div>
          <!-- /CURRENT OPTION -->
  
          <!-- DP OPTIONS -->
          <div id="forums-search-dropdown" class="dp-options medium">
            <!-- FORM WRAP -->
            <form class="form-wrap">
              <!-- FORM ROW -->
              <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                  <!-- SUBMIT INPUT -->
                  <div class="submit-input red">
                    <input type="text" id="forum_search_input" name="forum_search_input" placeholder="What are you looking for?...">
                    <button class="submit-input-button">
                      <!-- ARROW ICON -->
                      <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                      </svg>
                      <!-- /ARROW ICON -->
                    </button>
                  </div>
                  <!-- /SUBMIT INPUT -->
                </div>
                <!-- /FORM ITEM -->
              </div>
              <!-- /FORM ROW -->

              <!-- FORM CONFIRM ROW -->
              <div class="form-confirm-row">
                <!-- CHECKBOX ITEM -->
                <div class="checkbox-item">
                  <input type="checkbox" id="f_search_cat_only" name="f_search_cat_only" value="only" checked>
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box blue">
                    <!-- CROSS ICON -->
                    <svg class="cross-cb-icon small">
                      <use xlink:href="#svg-cross-cb-small"></use>
                    </svg>
                    <!-- /CROSS ICON -->
                  </div>
                  <!-- CHECKBOX BOX -->
                  <label for="f_search_cat_only" class="rl-label">Search this category only</label>
                </div>
                <!-- /CHECKBOX ITEM -->

                <!-- DECORATED LINK -->
                <p class="decorated-link red popup-advanced-search-trigger">Advanced Search</p>
                <!-- /DECORATED LINK -->
              </div>
              <!-- /FORM CONFIRM ROW -->
            </form>
            <!-- FORM WRAP -->
          </div>
          <!-- /DP OPTIONS -->
        </div>
        <!-- /DROPDOWN SIMPLE WRAP -->

        <!-- BUTTON -->
        <a href="" class="button small blue popup-create-topic-trigger">Create Topic</a>
        <!-- /BUTTON -->

        
      </div>
      <!-- /FORUM ACTIONS -->
    </div>
    <!-- /FILTERS ROW -->

    <!-- TOPIC WRAP -->
    <div class="topic-wrap">
      

      <!-- TOPIC HEADER -->
      <div class="topic-header">
        <!-- TOPIC TITLE -->
        <p class="topic-title">{{ topic.subject }}</p>
        <!-- /TOPIC TITLE -->

        <!-- TAG ORNAMENT -->
        <a href="news-v2.html" class="tag-ornament">{{ topic.category.name }}</a>
      <!-- /TAG ORNAMENT -->

        
      </div>
      <!-- /TOPIC HEADER -->

      <!-- TOPIC BODY -->
      <div class="topic-body">
        <!-- TOPIC COMMENT -->

        {% for post in posts %}

        <div class="topic-comment">
          <!-- TOPIC COMMENT USER -->
          <div class="topic-comment-user">
            <!-- USER AVATAR -->
            <a href="profile-summary.html">
              <img class="user-avatar medium" src="{% static 'img/users/09.jpg' %}" alt="user-09">
            </a>
            <!-- /USER AVATAR -->
            
          </div>
          <!-- /TOPIC COMMENT USER -->

          <!-- TOPIC COMMENT CONTENT WRAP -->
          <div class="topic-comment-content-wrap">
            <!-- TOPIC COMMENT CONTENT -->
            <div class="topic-comment-content">
              <!-- TOPIC COMMENT CONTENT HEADER -->
              <div class="topic-comment-content-header">
                <!-- TOPIC COMMENT USERNAME -->
                <a href="profile-summary.html" class="topic-comment-username">{{ post.created_by.username }}</a>
                <!-- /TOPIC COMMENT USERNAME -->

                <!-- TOPIC COMMENT INFO -->
                <div class="topic-comment-info">
                  <!-- TOPIC COMMENT TIMESTAMP -->
                  <p class="topic-comment-timestamp">{{ post.created_at|naturaltime }}</p>
                  <!-- /TOPIC COMMENT TIMESTAMP -->
                </div>
                <!-- /TOPIC COMMENT INFO -->
              </div>
              <!-- /TOPIC COMMENT CONTENT HEADER -->

              <!-- TOPIC COMMENT TEXT -->
              <p style="font-size: 16px;" class="topic-comment-text">
                {{ post.get_message_as_markdown }}
              </p>

              <!-- /TOPIC COMMENT TEXT -->

            {% if post.created_by == user %}
            <br>
            <div class="mt-3">
              <a href="{% url 'edit_post' post.topic.category.pk post.topic.pk post.pk %}"
                 class="button small blue"
                 role="button">Edit Post?</a>
            </div>
            {% endif %}
            
            </div>
            <!-- /TOPIC COMMENT CONTENT -->

            <!-- TOPIC COMMENT ACTIONS -->
            <div class="topic-comment-actions">
              <!-- TOPIC ACTIONS -->
              <div class="topic-actions">
                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                  <a href="#0" onClick="document.getElementById('likebutton').submit()">
                    <div class="topic-action-icon bubble-ornament cyan">
                      <i class="icon-like like-icon"></i>
                    </div>
                  </a>
                  <!-- /TOPIC ACTION ICON -->
        
                  <!-- TOPIC ACTION TEXT -->
                  <p class="topic-action-text">{{eachpost.likes}} </p>
                  <!-- /TOPIC ACTION TEXT -->
                </div>
                <!-- /TOPIC ACTION -->

                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                 <a href="#0" onClick="document.getElementById('dislikebutton').submit()">
                    <div class="topic-action-icon bubble-ornament hoverable red">
                      <i class="icon-dislike dislike-icon"></i>
                    </div>
                 </a>
                  <!-- /TOPIC ACTION ICON -->
        
                  <!-- TOPIC ACTION TEXT -->
                  <p class="topic-action-text">{{eachpost.dislikes}} </p>
                  <!-- /TOPIC ACTION TEXT -->
                </div>
                <!-- /TOPIC ACTION -->
              </div>
              <!-- /TOPIC ACTIONS -->

              <form id="likebutton" method="POST" action="posts/{{ post.topic.id}}/preference/1/">
                {% csrf_token %}
                <input type="hidden">
              </form>

              <form id="dislikebutton" method="POST" action="posts/{{ post.topic.id}}/preference/2/">
                {% csrf_token %}
                <input type="hidden">
              </form>

              <!-- TOPIC ACTIONS -->
              <div class="topic-actions">
                <!-- TOPIC ACTION -->
                <div class="topic-action inverted">
                  <!-- TOPIC ACTION ICON -->
                  <div class="topic-action-icon bubble-ornament hoverable blue popup-quick-reply-trigger">
                    <i class="icon-action-undo reply-icon"></i>
                  </div>
                  <!-- /TOPIC ACTION ICON -->
        
                  <!-- TOPIC ACTION TEXT -->
                  <p class="topic-action-text">5 Replies</p>
                  <!-- /TOPIC ACTION TEXT -->
                </div>
                <!-- /TOPIC ACTION -->
                
                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                  <div class="topic-action-icon bubble-ornament hoverable black">
                    <i class="icon-link share-icon"></i>
                  </div>
                  <!-- /TOPIC ACTION ICON -->
                </div>
                <!-- /TOPIC ACTION -->

                <!-- TOPIC ACTION -->
                <div class="topic-action">
                  <!-- TOPIC ACTION ICON -->
                  <div class="topic-action-icon bubble-ornament hoverable red">
                    <i class="icon-fire report-icon"></i>
                  </div>
                  <!-- /TOPIC ACTION ICON -->
                </div>
                <!-- /TOPIC ACTION -->
              </div>
              <!-- /TOPIC ACTIONS -->
            </div>
            <!-- /TOPIC COMMENT ACTIONS -->
          </div>
          <!-- /TOPIC COMMENT CONTENT WRAP -->
        </div>
        <!-- /TOPIC COMMENT -->

        {% endfor %}

      </div>
      <!-- /TOPIC BODY -->
      <br><br>
    {% include 'includes/pagination.html' %}
    </div>
    <!-- /TOPIC WRAP -->
<div class="layout-content-full grid-limit grid3-1col centered">
  <div class="layout-item-2-1 mgn_top_10pc">
          <div class="layout-item">
              <!-- SECTION TITLE WRAP -->
            <div class="section-title-wrap light-gray">
              <h2 class="">ANALYSIS AND OPINION</h2>
              <div class="section-title-separator"></div>
            </div>
            <!-- /SECTION TITLE WRAP -->
          </div>

          <div class="layout-item">
            <!-- BUTTON -->
            <a href="{% url 'analysis' %}">
              <button class="button light-gray cstm_fit_content mgn_left-40">
                MORE ANALYSIS
                <!-- BUTTON ORNAMENT -->
                <span class="button-ornament">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->

                  <!-- CROSS ICON -->
                  <svg class="cross-icon small">
                    <use xlink:href="#svg-cross-small"></use>
                  </svg>
                  <!-- /CROSS ICON -->
                </span>
                <!-- /BUTTON ORNAMENT -->
              </button>
            </a>
              <!-- /BUTTON -->
          </div>
        </div>
        
        <!-- LAYOUT ITEM 1-1-1 -->
        <div class="layout-item-1-1-1">
          <!-- LAYOUT ITEM -->
          {% for analysis in analysis_objects|slice:":3" %}
          <div class="layout-item">
            <!-- POST PREVIEW -->
            <div class="post-preview gaming-news img-toggle">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="{{ analysis.image.url }}" alt="{{ analysis.title }}">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- TAG ORNAMENT -->
              <a href="#0" class="tag-ornament">{{ analysis.category }}</a>
              <!-- /TAG ORNAMENT -->

              <!-- POST PREVIEW TITLE -->
              <a href="{% url 'analysis_posts' analysis.pk %}" class="post-preview-title">{{ analysis.title }}</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author cstm-camel-case">{{ analysis.starter }}</a><span class="separator">|</span>{{ analysis.last_updated|naturaltime }}</p>
              </div>
              <!-- /POST AUTHOR INFO -->
              <!-- POST PREVIEW TEXT -->
              <p class="post-preview-text base-color">{{ analysis.description|truncatechars:200 }}.</p>
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /LAYOUT ITEM -->
          {% endfor %}
        </div>
        <!-- /LAYOUT ITEM 1-1-1 -->

      </div>
    
  </div>
  <!-- LAYOUT CONTENT FULL -->

{% endblock content_topic_posts %}