{% extends 'base.html' %}

{% load static %}

{% load gravatar %}

{% block title %}Acaciax | Profile Activity{% endblock %}

{% block content_profile_activity %}

  <!-- LAYOUT CONTENT FULL -->
  <div class="layout-content-full grid-limit">
    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <!-- PROFILE USER -->
      <div class="profile-user">
        <!-- USER AVATAR -->
        <img class="user-avatar big" src="{{ user|gravatar }}" alt="{{ user }}">
        <!-- /USER AVATAR -->

        <!-- PROFILE USER NAME -->
        <p class="profile-user-name">{{ user.username }}</p>
        <!-- /PROFILE USER NAME -->

        <!-- PROFILE USER INFO -->
        <p class="profile-user-info">{{ user.posts.count }} posts</p>
        <!-- /PROFILE USER INFO -->

        <!-- BADGE LIST -->
        
        <!-- /BADGE LIST -->
      </div>
      <!-- /PROFILE USER -->

      <!-- BUTTON -->
      <a href="#" class="button small cyan">Send Message</a>
      <!-- /BUTTON -->
    </div>
    <!-- /PROFILE HEADER -->

    <!-- TAB WRAP -->
    <div class="tab-wrap">
      <!-- TAB HEADER -->
      <div class="tab-header items-6">
        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_summary' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Summary</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <div class="tab-header-item blue selected">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Activity</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </div>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_notifications' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Notifications</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_messages' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Messages</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'profile_badges' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Badges</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->

        <!-- TAB HEADER ITEM -->
        <a href="{% url 'my_account' %}" class="tab-header-item blue">
          <!-- TAB HEADER ITEM TEXT -->
          <p class="tab-header-item-text">Settings</p>
          <!-- /TAB HEADER ITEM TEXT -->
        </a>
        <!-- /TAB HEADER ITEM -->
      </div>
      <!-- /TAB HEADER -->

      <!-- TAB BODY -->
      <div class="tab-body">
        <!-- TAB ITEM -->
        <div class="tab-item spaced">
          <!-- LAYOUT CONTENT 4 -->
          <div class="layout-content-4 v2 layout-item-1-3">
            <!-- LAYOUT SIDEBAR -->
            <div class="layout-sidebar">
              <!-- DROPDOWN LIST -->
              <ul class="dropdown-list void centered">
                <!-- DROPDOWN LIST ITEM -->
                <li class="dropdown-list-item active">
                  <a href="#" class="dropdown-list-item-link">All Activity</a>
                </li>
                <!-- /DROPDOWN LIST ITEM -->
              </ul>
              <!-- /DROPDOWN LIST -->
            </div>
            <!-- /LAYOUT SIDEBAR -->

            <!-- LAYOUT BODY -->
            <div class="layout-body">
                            
              <h3 style="color: red; text-align: center;">NO ACTIVITY DATA YET</h3>

            </div>
            <!-- /LAYOUT BODY -->
          </div>
          <!-- /LAYOUT CONTENT 4 -->
        </div>
        <!-- /TAB ITEM -->
      </div>
      <!-- /TAB BODY -->
    </div>
    <!-- /TAB WRAP -->
  </div>
  <!-- LAYOUT CONTENT FULL -->

  {% endblock content_profile_activity %}