<!-- REUSABLE PARTS OF THE PAGES -->
 <!-- BANNER SLIDER -->
  <div id="banner-slider-2" class="banner-slider text_left v2">
    <!-- SLIDER ITEMS -->
    <div class="slider-items">
      
      <!-- SLIDER ITEM -->
      {% for slider in slider_lists reversed %}
      <div style="{% if slider.image.url %} background: url('{{ MEDIA }}{{ slider.image.url }}');{% else %} {% endif %}background-repeat: no-repeat; background-size: cover; " class="slider-item">
        <div class="slider-item-wrap">
          <!-- POST PREVIEW -->
          <div class="post-preview huge gaming-news cstm-bg-transparent">
            <!-- TAG ORNAMENT -->
            <a href="#0" class="tag-ornament">{{ slider.category }}
            <!-- /TAG ORNAMENT -->
      
            <!-- POST PREVIEW TITLE -->
            <a href="{% url 'article_posts' slider.pk %}" class="post-preview-title">{{ slider.title|truncatechars:80 }}</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <!-- USER AVATAR -->
              <a href="#0">
                <figure class="user-avatar tiny liquid">
                  <img src="{{ slider.starter|gravatar }}" alt="{{ slider.starter }}">
                </figure>
              </a>
              <!-- /USER AVATAR -->
              <p class="post-author-info small light">By <a href="#0" class="post-author cstm-camel-case">{{ slider.starter }}</a><span class="separator">|</span>{{ slider.last_updated|naturaltime }}<span class="separator">|</span><a href="{% url 'article_posts' slider.pk %}#op-comments" class="post-comment-count">{{ slider.article_posts.count }} Comment(s)</a></p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <div class="break"></div>
            <!-- BUTTON -->
            <a href="{% url 'article_posts' slider.pk %}" class="button blue">
              Go to the article
              <!-- BUTTON ORNAMENT -->
              <div class="button-ornament">
                <!-- ARROW ICON -->
                <svg class="arrow-icon medium">
                  <use xlink:href="#svg-arrow-medium"></use>
                </svg>
                <!-- /ARROW ICON -->

                <!-- CROSS ICON -->
                <svg class="cross-icon small">
                  <use xlink:href="#svg-cross-small"></use>
                </svg>
                <!-- /CROSS ICON -->
              </div>
              <!-- /BUTTON ORNAMENT -->
            </a>
            <!-- /BUTTON -->
          </div>
          <!-- /POST PREVIEW -->
        </div>
      </div>
      <!-- /SLIDER ITEM -->

      {% endfor %}

    </div>
    <!-- /SLIDER ITEMS -->

    <!-- BANNER SLIDER PREVIEW WRAP -->
    <div class="banner-slider-preview-wrap">
      <!-- BANNER SLIDER CONTROLS -->
      <div id="sliderb2-controls" class="banner-slider-controls">
        <div class="control-previous">
          <!-- ARROW ICON -->
          <svg class="arrow-icon medium">
            <use xlink:href="#svg-arrow-medium"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
        <div class="control-next">
          <!-- ARROW ICON -->
          <svg class="arrow-icon medium">
            <use xlink:href="#svg-arrow-medium"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
      </div>
      <!-- /BANNER SLIDER CONTROLS -->

      <!-- BANNER SLIDER PREVIEW -->
      <div id="banner-slider-2-thumbs" class="banner-slider-preview">
        <!-- BANNER SLIDER PREVIEW ROSTER -->
        <div class="banner-slider-preview-roster">
          <!-- POST PREVIEW -->
          {% for slider in slider_lists reversed %}
          <div class="post-preview tiny negative no-img gaming-news">
            <!-- POST PREVIEW TITLE -->
            <p class="post-preview-title">{{ slider.title }}</p>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <span class="post-author cstm-camel-case">{{ slider.starter }}</span><span class="separator">|</span>{{ slider.last_updated|naturaltime }}</p>
            </div>
            <!-- /POST AUTHOR INFO -->
          </div>
          {% endfor %}
          <!-- /POST PREVIEW -->
        </div>
        <!-- /BANNER SLIDER PREVIEW ROSTER -->
      </div>
      <!-- /BANNER SLIDER ROSTER -->
    </div>
    <!-- /BANNER SLIDER PREVIEW WRAP -->
  </div>
  <!-- /BANNER SLIDER -->
